@import "../abstracts/mixins";
@import "../abstracts/variables";




.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }
    
    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;

    
    .col1of2 {

        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc((100% - #{$gutter-horizontal}) / 2);
        
    }

    .col1of3 {
 
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }

        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);




    }

    .col2of3 {
        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col1of4 {
        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col2of4 {
        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col3of4 {
        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }

    
    .col1of5 {
        
      float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
        width: calc((100% - 4 * #{$gutter-horizontal}) / 5);
    }

}



.threeColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto(minmax(23rem,1fr));
 
}


  @media (min-width:600px) {
  .threeColGridCon{
     grid-template-columns: 1fr; 
  }
   

}

.threeColGrid {
  text-align: left;
  padding: 1.5em 0;
  font-size: $default-font-size;
  // padding: 10px;
}

.fourColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 
}


  @media (min-width:600px) {
  .fourColGridCon{
     grid-template-columns: 1fr ; 
  }
   

}

.fourColGrid {
  text-align: left;
  padding: 1.5em 0;
  font-size: $default-font-size;
  // padding: 10px;
}

.twoGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr ;
 
}


  @media (min-width:600px) {
  .twoGridCon{
     grid-template-columns: 1fr ; 
  }
   

}

.twoGridCol {
  text-align: left;
  padding: 1.5em 0;
  font-size: $default-font-size;
  // padding: 10px;
}

.sixColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
 
}


  @media (min-width:50em) {
  .sixColGridCon{
     grid-template-columns: 1fr ; 
  }
   

}

.sixColGrid {
  text-align: left;
  padding: 1.5em 0;
  font-size: $default-font-size;
  // padding: 10px;
}