.sectionWithSideNav{

    padding:0;
       margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
     margin-top: 8rem !important;

}

.sectionNoSidenav{
    
     margin: 8rem 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
        margin-top:5rem !important;
    }
}