.bullets {
  font-size: 1.25rem;

  .list {
    margin-left: 2em;
    font-size:1.8rem;

    .items {
      list-style-type: square;
      margin: .6rem 0;
      line-height: 1.5 ;
    }


    .items::marker {

      color: $red;
    }

    .items:last-child {
      margin-bottom: 2rem;
    }

  }
}

.bullet{
  font-size: 1.8rem;

  ul {
    margin-left: 2em;
    font-size:1.8rem;

    li {
      list-style-type: square;
      margin: .6em 0;
      line-height: 1.7 ;
       font-size:1.8rem;
    }


 li::marker {

      color: $orange;
    }

    li:last-child {
      margin-bottom: 2em;
    }

  }
}


div .bullets2 {
  font-size:$default-font-size;
  line-height: 1.3;

  .ul {
    margin-left: 2em;
    // font-size: 1.20rem;

    .li {
      list-style-type: square;
      margin: .6em 0;
      line-height: 1.5 ;
    }


    .li::marker {

      color: $orange;
    }

    .li:last-child {
      margin-bottom: 2rem;
    }

  }
}

.footnote{
    font-size: 1.1rem;
    font-style: italic;
    margin:1rem 0;
}
.footnote2{
    font-size: 1.25rem;
    font-style: italic;
    margin:1rem 0;
    font-weight: bold;
}




  table.academiccalendar {
    font-family: $default-font-family;
    font-size: 1.25rem;
    border-collapse: collapse;
    width: 700px;
  }
  .publicholidays-table {
    margin: 0;
    padding: 0;
  }
  .-table td {
    padding-left: 0;
    margin-left: 0;
    padding-left: 0.3rem;
  }

   table.simple{
    
   td
   {
    padding: 1em;
    text-align: left;
    margin: 0;
  }
   th{
     padding: 1em;
    text-align: left;
    margin: 0;
  }

  tbody tr:nth-child(2n) {
    background-color: #eee;
  }

  th {
    position: sticky;
    top: 0;
    // background-color: $orange;
        background-color: #eee;

    color:black;

    font-family: $default-font-family;
    text-transform: capitalize;

    backface-visibility: hidden;
    /* determines if the back part is visible to the */
    /* margin-bottom: 6rem; */
    /* display: block; */
    font-size: $default-font-size;
    font-weight: 900;
  }
}