.contentGrid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.contentGrid > :not(.breakout, .fullWdth),
.fullWidth > :not(.breakout, .fullWidth) {
  grid-column: content;
}

.contentGrid > .breakout {
  grid-column: breakout;
}

.contentGrid > .fullWidth {
  grid-column: fullWidth;

  display: grid;
  grid-template-columns: inherit;
}
.contentGrid > header{
    
}