.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        margin-bottom:2em;

        //Change for the <button> element
        border: none;
        cursor: pointer;

    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        background-color: $color-primary-dark;
        color:white;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &__white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &__purple {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary-dark;
        }
    }

    
      &__selecthome {
        background-color: $color-primary;
        color: $color-white;
        padding: 1rem 2rem;
        margin-bottom: 0;

        &::after {
            background-color: $color-primary-dark;
        }

        &__center{
            padding: 1rem 6rem;
            align-items: center;
        }
    }

    &__red {
        background-color: $red-dark;
        color: $color-white;
                padding: 1.25rem 3rem;


        &::after {
            background-color: $color-primary;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
.btnText {

           color: $color-primary;
           margin:3.6rem;
           font-size: 1.8rem;
                   border-bottom: 1px solid $color-primary;

   &:link,
    &:visited {
        font-size: 1.8rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3.6rem;
 
        transition: all .2s;
        
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1.2rem 2.4rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .6rem 1.2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}
.strongcall .btn {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  margin-bottom:6rem;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  text-align: center;
  float:left;
}

.strongcall .btn:hover {
  background-color: #222222;
}