.featurebox {
    background-color: rgba($color-grey-light-2, .5);
    font-size: 1.8rem;   
     padding: 2rem;
    text-align:center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    } 
    
    &__text{
            font-size: 1.5rem;
            line-height: 1.5;

    ul {
    margin-left: 2rem;
    font-size: 1.20rem;

    li {
      // list-style-type: square;
      margin: .6rem 0;
      line-height: 1.5 ;
      text-align: left;
    }


    li::marker {

      color: $color-primary;
    }

    li:last-child {
      margin-bottom: 2rem;
    }

  }
    }
    
   

    &__icon {
        font-size: 3rem;
        margin-bottom: .5rem;
        display: inline-block;
        // background-color: $color-primary-dark;
       background-image: linear-gradient(to right, black, $color-primary-dark);
        background-clip: text;
         color: $color-primary-dark;

        @media only screen and (max-width: 56.25em) {
            margin-bottom: 0;
        }

       
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        transition: all 1s;
    }

.arrowBig{
     font-size: 8rem;
            line-height: 1.5;
}
}