//187, 41, 187
$base-color: rgb(69, 57, 98);
$base-color-tint: rgb(69, 57, 98);

// $color-primary: rgb(255, 109, 10);
$font-colormain: black;
$grey-light: rgb(67, 63, 64, 0.9);
// $grey: rgb(67, 63, 64);
$grey: rgb(41, 40, 42);

$color-black:black;

//background colors
$lightgrey1: rgb(250, 250, 252);
$lightgrey2: rgb(250, 250, 250);
$lightgrey3: rgb(245, 245, 247);

//Graphic Design Colours Wheel
$whiteback: rgb(230, 231, 200);

$purple-main: rgb(62, 19, 83);

// $purple-main: #685BC7;  // this is COSTAATT official Color
$purple-secondary: rgb(121, 47, 142);

// $purple-secondary:#CC57B6;

// Accent Colours
$red: rgb(196, 22, 28, 0.9);
$blue: rgb(39, 189, 190);
$lime-green: rgb(203, 219, 42);
// $orange: rgb(245, 130, 32);
// $orange:#E8D5B5;
$orange:rgb(239, 65, 41);

//rgb(239, 65, 41);


// $orange: yellow;
$pink: rgb(239, 64, 80);
$blue2: rgb(37, 117, 174);
$orange2: rgb(239, 65, 41);
$red-dark: rgb(139, 3, 4);
$light-orange: rgb(251, 176, 64);

//School Colours
$costtCol: rgb(104, 91, 199);

$liberalCol: rgb(0, 133, 202);
$liberalCol-dark: rgb(0, 103, 172);

$nursingCol: rgb(0, 171, 132);
$nursingCol-dark: rgb(0, 141, 102);

$sobitCol: rgb(187, 41, 187);
$sobitCol-dark: rgb(93, 20, 93);

$kenGor: rgb(164, 52, 58);
$kenGor-dark: rgb(134, 22, 28);

$workFCol: rgb(254, 80, 0);
$workFCol-dark: rgb(224, 50, 0);

$cirEcom: rgb(0, 104, 52);
$cirEcom-dark: rgb(0, 74, 22);



$color-white: #fff;
$color-black: #000;

$color-primary: rgb(104, 91, 199);
$color-primary-light: rgb(159, 146, 223);
$color-primary-dark: rgb(72, 63, 138);




$color-red: rgb(189, 65, 71);

$color-comp1: rgb(199, 104, 91);
$color-comp2: rgb(91, 199, 104);

$color-comp3: rgb(199, 91, 104);
$color-comp4: rgb(91, 104, 199);

$neutral: rgb(150, 150, 150);

//COLOR GENERAL

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



// FONT
$default-font-size: 62.5%;

$default-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//Testing for Services Pages
$font-display: "Josefin Sans", sans-serif;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 1rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
