@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";

.sectionRent{
     display: grid;
    grid-template-rows: 80vh min-content min-content 40vw repeat(2, min-content);

    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    // @media only screen and (max-width: $bp-large) {
    //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    //     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    // }
    // @media only screen and (max-width: $bp-medium) {
    //     grid-template-rows: 6rem calc(100vh - 6rem);
    // }

    // & > * {

    //     padding:40px;
    //     font-size:4rem;


    // }

}
.rentHeader{
    grid-column: full-start /full-end;
    // grid-row:1/-1;
    background-color: blue;
}
.rentIntro{

    grid-column: center-start / center-end;
    
}

.rentPackage{

    grid-column: center-start / center-end ; 
    display: grid;
    padding:4rem;
    align-items: start;

    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
   grid-gap:6rem;
  
}

.package {
    display :grid;
    grid-template-columns:min-content 1fr;
    gap: 1rem;
    &__icon{
        fill: white;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/span 2;

    }
    &__text{
        font-size: 1rem;
    }
}
.rentWhy{

    &__pictures{
        // display : relative;
        background-color: $nursingCol;
         grid-column: center-start / col-end 5;
        // background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url("../../../public/images/services/whybackground.jpg");
        background-size: cover;
    //  background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5));

        // background-size: 80rem 30rem;
        // background-repeat: no-repeat;
        

        // display: grid;
        // grid-template-rows: repeat(6, 1fr);
        // grid-template-columns: repeat(6, 1fr);
        // align-items: center;
        //  @media only screen and (max-width: $bp-medium) {
        //     // grid-column: 1 / -1;
        //     padding: 6rem;
        // }
    }
     &__img1 {
        // width: 100%;
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 5;
            grid-row: 1 / -1;
        }
    }

    &__img2 {
        width: 115%;
        grid-row: 4 / 6;
        grid-column: 4 / 7;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .2);

        @media only screen and (max-width: $bp-medium) {
            grid-row: 1 / -1;
            width: 100%;
        }
    }
    &__content{
        background-color: $color-grey-light-1;
        grid-column: col-start 6 / center-end;
        padding:4rem 8vw;
       
       
       
    //     display: flex;
    //    flex-direction: column;
    //    justify-content: center;
    //    align-items: flex-start;
    display: grid;
    align-content: center;
    justify-items: start;
    }
    

}
.rentSpaces{
    background-color: $sobitCol;
             grid-column: center-start / center-end;

}
.rentContact{
    background-color: $costtCol;
             grid-column: full-start / center-end;

}

