@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";

.sectionTranslate {
  display: grid;
  grid-template-rows: 40vh min-content min-content 40vw  min-content;

  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];

  // @media only screen and (max-width: $bp-large) {
  //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  // }
  // @media only screen and (max-width: $bp-medium) {
  //     grid-template-rows: 6rem calc(100vh - 6rem);
  // }

  // & > * {

  //     padding:40px;
  //     font-size:4rem;

  // }
}



.sectionRent {
  display: grid;
  grid-template-rows: 40vh min-content min-content 40vw repeat(3, min-content);

  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];

  // @media only screen and (max-width: $bp-large) {
  //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  // }
  // @media only screen and (max-width: $bp-medium) {
  //     grid-template-rows: 6rem calc(100vh - 6rem);
  // }

  // & > * {

  //     padding:40px;
  //     font-size:4rem;

  // }
}
.rentHeader {
  grid-column: full-start / full-end;
  // grid-row:1/-1;

}
.rentIntro {
  grid-column: center-start / center-end;
}

.rentPackage {
  grid-column: center-start / center-end;
  display: grid;
  padding: 4rem;
  align-items: start;

  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 6rem;

}

.package {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.6rem;

  &__icon {
    fill: white;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
  }
  &__text {
    font-size: 1.8rem;
  }
}
.rentWhy {
  &__pictures {
    position: relative;
    height: 100%;

    background-color: $nursingCol;
    grid-column: center-start / col-end 5;
    background-image: linear-gradient(
        rgba($color-primary, 0.4),
        rgba($color-primary, 0.4)
      ),
      url("../../../public/images/services/whybackground.jpg");
    background-size: cover;
    object-fit: cover;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      // grid-column: 1 / -1;
      padding: 9.6rem;
    }
  }
  &__img1 {
    width: 95%;

    grid-row: 2 / 5;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);
    background-color: black;
    transform: translateY(50&);
    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / -1;
      width: 100%;
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 6 / center-end;
    padding: 2.4rem 4vw;

    //     display: flex;
    //    flex-direction: column;
    //    justify-content: center;
    //    align-items: flex-start;
    display: grid;
    align-items: center;
    justify-items: start;
  }
}
.rentSpaces {
//   position : relative;
//   height: 240px;

//   background-color: $sobitCol;
  grid-column: center-start / center-end;
  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
//   grid-template-rows: 1fr 1fr;
  grid-gap: 4rem;
}

.space {
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 7.2rem;

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  // &__like {
  //   grid-row: 1 / 2;
  //   grid-column: 2 / 3;
  //   fill: $color-primary;
  //   height: 3rem;
  //   width: 3rem;
  //   z-index: 2;
  //   justify-self: end;
  //   margin: 1rem;
  // }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: $font-display;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.2rem;
    background-color: $color-primary-dark;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
  }

  &__location,
  &__layout,
  &__size,
  &__price {
    font-size: 1.6rem;
    margin-left: 2.8em;

    display: flex;
    align-items: center;
  }
  &__svg {
    fill: $color-primary;
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.2rem;
  }
//   p{color:red;}
    
  

&__downloads{
    margin: 1.2rem auto;
    font-size: 1.38rem;
   align-content: center;
    

&:hover{
    color: $color-primary;
}
}


  &__btn {


    grid-column: 1 / -1;
       align-self: end;
    margin-bottom: 0;
    background-color: $grey;
    opacity: .8;



  
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    transition: all .2s; 
    text-align: center;
    

    &:hover {
        background-color: $color-primary-dark;
    }



  }

}

.rentCollage{
      grid-column: center-start / center-end;
      margin-bottom:2.5rem;

    .gallery {
    background-color: $lightgrey1;
    grid-column: full-start / full-end;

    display: grid;
    /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
    grid-template: repeat(7, 5vw) / repeat(8, 1fr);


    grid-gap: 1rem;
    padding: 1rem;

    &__item {
        &_1 {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }

        &_2 {
            grid-row: 1 / span 3;
            grid-column: 3 / span 3;
        }

        &_3 {
            grid-row: 1 / span 2;
            grid-column: 6 / 7;
        }

        &_4 {
            grid-row: 1 / span 2;
            grid-column: 7 / -1;
        }

        &_5 {
            grid-row: 3 / span 3;
            grid-column: 1 / span 2;
        }

        &_6 {
            grid-row: 4 / span 2;
            grid-column: 3 / span 2;
        }

        &_7 {
            grid-row: 4 / 5;
            grid-column: 5 / 6;
        }

        &_8 {
            grid-row: 3 / span 2;
            grid-column: 6 / span 2;
        }

        &_9 {
            grid-row: 3 / span 3;
            grid-column: 8 / -1;
        }

        &_10 {
            grid-row: 6 / span 2;
            grid-column: 1 / 2;
        }

        &_11 {
            grid-row: 6 / span 2;
            grid-column: 2 / span 2;
        }

        &_12 {
            grid-row: 6 / span 2;
            grid-column: 4 / 5;
        }

        &_13 {
            grid-row: 5 / span 3;
            grid-column: 5 / span 3;
        }

        &_14 {
            grid-row: 6 / span 2;
            grid-column: 8 / -1;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
   }
    .gallery :hover {
        transform: scale(120%);
        // font-size: var(--s);
        // z-index: 1;
        transition: transform .2s;
      }
}


.rentContact {

  grid-column: center-start / center-end;
  display: grid;
  padding: 4rem;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, minmax(35rem, 1fr));
  // grid-gap: 2rem;
// align-content: center;

    // @media only screen and (max-width: $bp-medium) {
    //     grid-column: 1 / -1;
    // }


  &__text{
    grid-column: 1/ -1;
    font-size: 1.8rem;
    height: 2rem;
    // text-align: center;
        margin: 3rem auto;
        // align-content: center;
      padding:4em;

      
   
     span{
            color:$color-primary;
            font-size:1.9rem;
        }
    }
  }
  
.contact {

  margin: auto;


  a{
    display: block;
  }
  &__icon {
    fill: white;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    margin:2rem 0;
    // display: block;
  }
  &__text {
    font-size: 1.8rem;
    text-align: center;
      // margin:3rem 0;
  }
}




      
      .brochure{
        grid-column: 1 / -1;
          display: grid;
  grid-template-columns: repeat(max-content, minmax(25rem, 1fr));
  align-content: right;
  margin: 4rem auto;
      

      }
     

        
    

   


   

  
