$base-color: rgb(58, 168, 199);
$innerColor: royalBlue;

//187, 41, 187
// // $base-color: rgb(69, 57, 98);
$base-color-tint: rgb(69, 57, 98);



$brown: rgb(255, 109, 10);
$font-colormain: black;
$grey-light: rgb(67, 63, 64, 0.9);
$grey: rgb(67, 63, 64);


//Graphic Design Colors Wheel
$whiteback:#e6e7c8;

$purple-main:#3E1353;
$purple-secondary:#792f8e;
$orange2:#715829;


$red:#C4161C;
$blue:#27BDBE;
$lime-green:#CBDB2A;
$orange: #F58220;
$pink :#EF4050;
$blue2:#2575AE;
$orange2:#EF4129;
$red-dark :#8B0304;
$light-orange:#FBB040;


