@import "./abstracts/variables";

// Overview of Costaatt index page 

.aboutbackColor{

  background-color: $color-primary-dark;
}

.text2columns{
  column-count: 2;
}

.bythenumbers{
//   margin-left:   25rem;
  font-size: $default-font-size;
//   font-weight: bold;
  margin-top: 4rem;
  width: 65%;
      margin: 0 auto;


.headtext{
    margin:2rem 5rem;
    text-align: left;

}
table {
  font-family: "Lato";
  font-size: $default-font-size;
  border-collapse: collapse;
  width: 75%;
//   margin-left: 15rem;
//   text-align: center;
    margin: 0 auto;
}


td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

 tbody tr:nth-child(2n) {
  background-color: #eee;

}
.total
{
    font-weight: bold;
    background-color: white;
   margin: 2rem;
}
}