
@import "./variable";


.introtext {
  font-family: "Lato";
  font-size: 1.75rem;
  line-height: 2;

  text-align: center;
  margin-bottom: 1.5rem;
}


.adminHome {
  margin-bottom: 8rem;
  height: 100%;
}

.topHeader {
  position: relative;

  color: white;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.topHeaderTitle {
  position: absolute;
  padding: 35px;
  text-transform: uppercase;
  width: 420px;
  top: 250px;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.applicationInstructions {
  padding: 15px 20%;
  // margin-top: 8rem;
  margin-bottom: 8rem;
  line-height: 1.5rem;
}

.applicationInstructions h3 {
  color: orangered;
}
 .icon{
        width:70px;
        height: 70px;
        
    }
    .iconsection{
        // margin:  2rem 0;
        margin:3rem 0;
    }
    .iconfont{
        font-size: 1.1rem;
       
        
    }


/* Apply Page */
.sectionIntro{
   font-size:2rem;

   .text{

    font-size:1.15rem;
    line-height:2 ;  
   }

}
.sectionOnlineApp{
    padding: 5rem 10rem 8rem 10rem;
  margin: 0;


}
.sectionPaperBased{

    padding: 5rem 10rem 8rem 10rem;
  margin: 0;
}
.sectionContactAdmin{
    padding: 5rem 10rem 8rem 10rem;
  margin: 0;

}



/*3 columns change name*/
.threeColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
}
.threeColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}

/*3 columns change name*/
.fourColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
}
.fourColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}


//Fees and Funding Page
.sectionfeesintro{
  margin:3rem;
}


.sectiontution{

  margin:3rem;
  background-color: black;

  .cardCon{
    max-width: 345;
    max-height: 240;
    background-color: $orange;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px $costtCol;
  
  .cardtext{
      font-size:2rem;
      color:white;
    }
  }
}

.sectionfinsupport{
  margin: 3rem;
}

.sectionmoneytips{
  margin: 2rem;
}
