
@import "./variable";



.pageheader {
  margin-bottom: 0;
  overflow: hidden;
  max-width: 100vw;
  height: 210px;
  background-color: $grey;
  background-image: url(../../images/Links/colors.png);
  // background-repeat: repeat-x;

}
.pageheadertext {
  position: absolute;
  top: 30%;
  left: 5%; 
  color:white;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-family: "Roboto", serif;
  text-transform: capitalize;
}
  .emphasis{
    font-size: 1.25rem;
    font-weight: bold;
     padding: 1rem;
     line-height: 1.75;
      text-align: left;
  }



.sectiontext{
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 500;
  text-align: center;
  margin:3rem;
}

.sectiontextleft{
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 500;
  text-align: left;
  margin: 3rem 0;
}
.introtext {
  font-family: "Lato";
  font-size: 1.5rem;
  line-height: 2;

  text-align: center;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.detailstext {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 2.5;

  text-align: left;
  margin-bottom: 1.5rem;
}

.head{
  font-size: 1rem;
  color:hotpink;
}
.secondaryheading{
  
  margin:  2rem 0;
  font-family: "Lato";
}

.adminHome {
  margin-bottom: 8rem;
  height: 100%;
}

.topHeader {
  position: relative;

  color: white;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.topHeaderTitle {
  position: absolute;
  padding: 35px;
  text-transform: uppercase;
  width: 420px;
  top: 250px;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.applicationInstructions {
  padding: 10px 20%;
  // margin-top: 8rem;
  margin-bottom: 8rem;
  line-height: 1.5rem;
}

.applicationInstructions h3 {
  color: orangered;
}
 .icon{
        width:70px;
        height: 70px;
        
    }
    .iconsection{
        // margin:  2rem 0;
        margin:3rem 0;
    }
    .iconfont{
        font-size: 1.1rem;
       
        
    }


/* Apply Page */
.sectionIntro{
   font-size:2rem;

   .text{

    font-size:1.15rem;
    line-height:2 ;  
   }

}
.sectionOnlineApp{
    padding: 5rem 10rem 8rem 10rem;
  margin: 0;


}
.sectionPaperBased{

    padding: 5rem 10rem 8rem 10rem;
  margin: 0;
}
.sectionContactAdmin{
    padding: 5rem 10rem 8rem 10rem;
  margin: 0;

}



// /*3 columns change name*/
// .threeColGridCon {
//   display: grid;
//   gap: 8rem;
//   grid-gap: 2rem;
//   grid-template-columns: auto auto auto;
// }
// .threeColGrid {
//   text-align: center;
//   padding: 20px 0;
//   font-size: 1.5rem;
//   // padding: 10px;
// }

/*4 columns change name*/
.disclaimer{
  font-size:1.2rem;
  line-height: 2;
  font-style: italic;
  font-weight: 500;
}
.fourColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
}
.fourColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}


//Fees and Funding Page
.sectionfeesintro{
  margin:7rem;
}

.link{
  margin: 0;
  padding: 0;
  
}

.sectiontuition{

margin:3rem 8rem;
align-items: center;


.fourColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
}
.fourColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}

  .threeColGridCon {
  display: grid;
  gap: 2rem;
  grid-gap: 2rem;
  align-items:flex-end;
  grid-template-columns:1fr 1fr 1fr;
  box-sizing: border-box;
      margin:0 2rem;

}
.threeColGrid {
  text-align: center;
  padding: .5rem 0;
  font-size: 1.5rem;
  padding: 10px;
}
}
  

  .cardCon{

     height: 200px;
  width: 300px;
  background-color: $whiteback;
  color:black;
  padding: 10px;
  // border: solid 3px black;
     box-shadow: 5px 10px 18px $grey-light;
-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);


  margin: 0;
  &:hover{
    color: white;
    background-color: $orange;
  }

  .cardtext{
      font-size:1.5rem;
      color:black;
      padding:60px 0;
      
   
    }
    
  }

  


.sectionmethodofpayment{
  margin:7rem;
  font-size:1.5rem;
  font-family: "Lato";

  .twoColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.twoColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}

// .shape{

// }
}

.sectionfinsupport{
  margin: 7rem;

  .accordiantext{
    font-size:1.25rem;
    line-height: 1.75;
   
    padding: 1rem;
    font-family: "Lato";

  }
  .emphasis{
    font-size: 1.25rem;
    font-weight: bold;
     padding: 1rem;
     line-height: 1.75;
      text-align: left;
  }
}


.entryreq{
      font-size:1.25rem;

        .list{
           margin-left:2rem;
                font-size:1.25rem;
        .items{
         list-style-type: square;
         margin:.5rem 0;
         
            }
             .items::marker{
         
             color:$orange;
               }        
        
               .items:last-child{
                margin-bottom:2rem;
               }

        }

    
}

// Fee Payment Options Page
.sectionBeforepay{

  background-color: whitesmoke;
  margin-bottom: 0;
  padding-bottom: 0;
}
.text{

    font-size:1.15rem;
    line-height:2 ;  
   }
.sectionViewcashier{

  background-color: whitesmoke;
}

.sectionPayonline{

  background-color: whitesmoke;
}

.sectionPaypersonalonline{

  background-color: whitesmoke;
}

.sectionInterbank{

  background-color: whitesmoke;
}
.sectionDirectdeposit{

    background-color: whitesmoke;

}

.sectionAfterpay{

  background-color: whitesmoke;
}

.feetwoColCon{

  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: 20% 80%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.feetwoColGrid {
  text-align: center;
  // padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;\
  align-items: center;
}
.number{
  font-size: 10rem;

}
.downloads{
  text-align:left;
  font-size: 1.25rem;
  float:right;
  
}
.downloadsDoc{
  text-align:right;
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-position: under ;
  padding:1rem 2rem 0 1rem ;
  color:$orange;
  float:right;
  
}

.downloadicon{
  width: 40px;
  height: 40px;
}
.linkingto{
  text-decoration: underline;
  text-underline-position: under;
  color:$purple-main;
}
   
    .icon{
        width:70px;
        height:70px;
        top:50%;
        text-align: center;
        
    }

    .feesreq{
      font-size:1.25rem;

        .feeslist{
          margin-left:2rem;
          font-size:1.25rem;
        .feesitems{
         list-style-type: square;
         margin:.5rem 1.25rem;
         text-align: left;
         
            }
             .feesitems::marker{
         
             color:$orange;
               }        
        
               .feesitems:last-child{
                margin-bottom:2rem;
               }

        }
      }
      
   .howtoemphasis{
    font-size: 1.25rem;
    font-weight: bold;
     line-height: 1.75;
      text-align: left;
  }




