@import "./abstracts/variables";

//Styles used throughout Admissions pages

.twoColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  // grid-template-columns: 1fr 1fr;
  width:min(95%,70rem);
  margin-inline:auto;
}
@media (min-width:50em) {
  .twoColGridCon{
     grid-template-columns: 1fr 1fr;
  }
   
}

.twoColGrid {
  text-align: center;
  padding: 1em 0;
  // font-size: 1.5rem;
  // padding: 10px;
}



.pageheader {
  margin-bottom: 0;
  // overflow: hidden;
  max-width: 100vw;
  padding:5em;
  background-color: $grey;
  background-image: url(../../images/Links/colors.png);
  // background-blend-mode:lighten;
  // background-repeat: repeat-x;
  // background-position: right;
  // background-position-x: 40%;
  // background-position: right bottom

}

.pageheadertext {
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  // font-family: "Roboto", serif;
  text-transform: capitalize;
  z-index: 2;
}

.emphasis {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  line-height: 1.75;
  text-align: left;
}



.sectiontext {
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 500;
  text-align: center;
  margin: 2em;
  text-transform:capitalize;
  font-weight: 900;
}

.sectiontextleft {
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 700;
  text-align: left;
  margin: 2em 0;
    text-transform:capitalize;

}
.sectiontextleftfirst {
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 700;
  text-align: left;
    text-transform:capitalize;
      margin: 0 0 2em 0;


}
.introtext {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
   font-weight: 500; 
   margin-bottom: 1.5rem;
}

.detailstext {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 2.5;

  text-align: left;
  margin-bottom: 1.5rem;
}

.head {
  font-size: 1rem;
  color: hotpink;
}

.secondaryheading {

  margin: 2em 0;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: bold;
}


.schoolheading {

  margin: 4em 0 4em 0;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: bold;
}

.adminHome {
  margin-bottom: 8rem;
  height: 100%;
}

.topHeader {
  position: relative;

  color: white;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.topHeaderTitle {
  position: absolute;
  padding: 35px;
  text-transform: uppercase;
  width: 420px;
  top: 250px;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.applicationInstructions {
  padding: 10px 20%;
  // margin-top: 8rem;
  margin-bottom: 8rem;
  line-height: 1.5rem;
}

.applicationInstructions h3 {
  color:$orange;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
   padding-bottom:1.5rem;

}


.iconsection {
  // margin:  2rem 0;
  margin: 3rem 0;
}

.iconfont {
  font-size: 1.25rem; 
  font-weight: 500;

}

.iconfontemp{
  font-size: 1.3rem;
  color:$orange;
}

.steps{
  // display: flex;
  font-size:1.25rem;
  // margin :0 auto;
}

.stepsnum{
  font-size: 3rem;
  color:$color-comp1;
  // top: 10%;
  
}
.stepstext{
  font-size: 1.25rem;
  margin:2em;
  
  // bottom: 10px;
  
}

/* Apply Page */
.sectionIntro {
  font-size: 2rem;

  .text {

    font-size: 1.15rem;
    line-height: 2;
    text-align: left;
  }

}

.sectionOnlineApp {
  padding: 5rem 10rem 8rem 10rem;
  margin: 0;


}

.sectionPaperBased {

  padding: 5rem 10rem 8rem 10rem;
  margin: 0;
}

.sectionContactAdmin {
  padding: 5rem 10rem 8rem 10rem;
  margin: 0;

}




/*4 columns change name*/
.disclaimer {
  font-size: 1.2rem;
  line-height: 2;
  font-style: italic;
  font-weight: 500;
}

.fourColGridCon {
  display: grid;
  gap: 4rem;
  grid-gap: 1rem;
  // width:min(95%,70rem);
  // margin-inline:auto;

  // //  align-items: flex-end;
  
  // //   box-sizing: border-box;
  //   margin: 0 auto;
}

@media (min-width:50em) {
  .fourColGridCon{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.fourColGrid {
 text-align:  center;
  padding: 1.25em 0;
  font-size: 1.5rem;
  padding: 1em;
}


//Fees and Funding Page
.sectionfeesintro {
  margin: 7rem;
}

.link {
  margin: 0;
  padding: 0;

}

.sectiontuition {

  margin: 3rem 8rem;
  align-items: center;


//   .fourColGridCon {
//     display: grid;
//     gap: 8rem;
//     grid-gap: 2rem;
//     width:min(95%,70rem);
    
//   }

//   @media (min-width:50em) {
//   .fourColGridCon{
//    grid-template-columns: repeat(4,1fr);
//   }
   
// }

//   .fourColGrid {
//     text-align: center;
//     padding: 20px 0;
//     font-size: 1.5rem;
//     padding: 1em;
//   }

//   .threeColGridCon {
//     display: grid;
//     gap: 2rem;
//     grid-gap: 2rem;
//     align-items: flex-end;
  
//     box-sizing: border-box;
//     margin: 0 2rem;

//   }

//   @media (min-width:50em) {
//   .threeColGridCon{
//       grid-template-columns: repeat(3,1fr);
//   }
   
// }

//   .threeColGrid {
//     text-align: center;
//     padding: .5em 0;
//     font-size: 1.5rem;
//     padding: 1em;
//   }
}


.cardCon {

  height: 200px;
  width: 300px;
  background-color: whitesmoke;

  color: black;
  padding: 10px;
  // border: solid 3px black;
  box-shadow: 5px 10px 18px $grey-light;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);


  margin: 0;

  &:hover {
    color: white;
    // background-color: $orange;
    background-image: linear-gradient(to right, $orange, $workFCol);


  }

  .cardtext {
    font-size: 1.5rem;
    color: black;
    padding: 3.75em 0;


  }

}




.sectionmethodofpayment {
  margin: 7rem;
  font-size: 1.5rem;
  font-family: "Lato";

 
}

.secondheading {
  font-size: 1.25rem;
  line-height: 2;
  text-align: left;
  font-family: "Lato";
  margin: 1rem 0;
  font-weight: bold;

}

.accordiantext {
  font-size: 1.25rem;
  line-height: 2;
  text-align: left;
  padding: 1rem;
  font-family: "Lato";

}

.sectionfinsupport {
  margin: 7rem;

  .accordiantext {
    font-size: 1.25rem;
    line-height: 1.75;

    padding: 1rem;
    font-family: "Lato";

  }

  .emphasis {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    line-height: 1.75;
    text-align: left;
  }
}


.entryreq {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;

  .list {
    margin-left: 2rem;
    font-size: 1.20rem;

    .items {
      list-style-type: square;
      margin: .6rem 0;
      line-height: 1.5 ;
    }


    .items::marker {

      color: $orange;
    }

    .items:last-child {
      margin-bottom: 2rem;
    }

  }


}

// Fee Payment Options Page
.sectionBeforepay {

  background-color: whitesmoke;
  margin-bottom: 0;
  padding-bottom: 0;
}

.text {

  font-size: 1.15rem;
  line-height: 2;
}

.sectionViewcashier {

  background-color: whitesmoke;
}

.sectionPayonline {

  background-color: whitesmoke;
}

.sectionPaypersonalonline {

  background-color: whitesmoke;
}

.sectionInterbank {

  background-color: whitesmoke;
}

.sectionDirectdeposit {

  background-color: whitesmoke;

}

.sectionAfterpay {

  background-color: whitesmoke;
}

.feetwoColCon {

  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
 
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width:40rem) {
  .feetwoColCon{
 grid-template-columns: 20% 80%;
  }
}

.feetwoColGrid {
  text-align: center;
  // padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;\
  align-items: center;
}

.number {
  font-size: 10rem;

}

.downloads {
  text-align: left;
  font-size: 1.25rem;
  float: right;

}

.downloadsDoc {
  text-align: right;
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-position: under;
  padding: 1rem 2rem 0 1rem;
  color: $orange;
  float: right;

}

.downloadicon {
  width: 40px;
  height: 40px;
}

.linkingto {
  text-decoration: underline;
  text-underline-position: under;
  color: $purple-main;
}

.icon {
  width: 70px;
  height: 70px;
  top: 50%;
  text-align: center;

}

.feesreq {
  font-size: 1.25rem;

  .feeslist {
    margin-left: 2rem;
    font-size: 1.25rem;

    .feesitems {
      list-style-type: square;
      margin: .5rem 1.25rem;
      text-align: left;

    }

    .feesitems::marker {

      color: $orange;
    }

    .feesitems:last-child {
      margin-bottom: 2rem;
    }

  }
}

.howtoemphasis {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
}

//Transfer Credits and Exemptions
.sectionIntrotransfer {
  margin: 4rem 7rem;
}

.sectionQuestions {
  margin: 4rem 7rem;

}

.sectionHowTo {
  margin: 4rem 7rem;
}

.sectionExemptionListGce {
  margin: 4rem 7rem;
}

.sectionExemptionListCape {
  margin: 4rem 7rem;

  .secondheading {
    font-size: 1.15rem;
    line-height: 2;
    text-align: left;
    font-family: "Lato";
    margin-bottom: 2rem;
    // font-weight: bold;

  }

  .emphasis {
    font-size: 1.1rem;
    line-height: 1.75;
    font-family: "Lato";
    color: $orange;
    text-align: left;
  }

  .twoColGridCon {
    display: grid;
    gap: 8rem;
    grid-gap: 2rem;
  }

    @media (min-width:50em)
    {
      .twoColGridCon{
    grid-template-columns: 1fr 1fr;

      }
    }
  .twoColGrid {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    // padding: 10px;
  }


}

.threeColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
 
}


  @media (min-width:50em) {
  .threeColGridCon{
     grid-template-columns: 1fr 1fr 1fr; 
  }
   
}
}

.threeColGrid {
  text-align: center;
  padding: 1.5em 0;
  font-size: 1.5rem;
  // padding: 10px;
}

.stepicon {
  font-size: 20px;


  
} .stepfont{
    font-size: 1.2rem;
 } 

// New Student newstudent.js applicant

.sectionFirstTime {
  margin: 3em 7em;
  font-size:1.5rem;

}

.sectionVisit {
  margin: 0 0 0 7em;
}

.sectionHowtoapply {
  margin: 3rem 7rem;
}

.sectionTimeline {
  margin: 3rem 7rem;
}

.sectionRequired {
  margin: 3rem 7rem;
}

.sectionCheckList {
  margin: 3rem 7rem;
  background-color: whitesmoke;
}
  .checklist {


    margin: 3rem 0 3rem 0;
    // padding:4rem 0;
    // background-color: purple;

      .imgtick{
        // float:left;
        text-align: left;
      }
    .heading {
      
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-left: 1rem;
      // text-align: center;
    }
    

    .text {

      font-size: 1.15rem;
      line-height: 2;
      font-family: "Lato";
      margin-top:1rem;
      text-align: left;

    
    }

  }
  


.sectionNextstep {
  margin: 3rem 7rem;

}

.sectionContact {
  margin: 3rem 7rem;

  .icon {
    width: 70px;
    height: 70px;

  }

  .iconsection {
    // margin:  2rem 0;
    margin: 3rem 0;
  }

  .iconfont {
    font-size: 1.1rem;


  }


}

.toplinksnav {
  display: flex;
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
  padding:  1em ;
}

.sectionforSideNav {
  margin-top: 1em;
  padding:1em 4em;
}

//How to register 
.sectionIntroReg {
  margin: 0;
  padding:5em;
}

.banner {
  // background-color: $grey;
  font-size: 1.25rem;
  line-height: 2;
}

.bannerSub {
  background-color: $color-primary;
  color:white;
  font-size: 1.2rem;
  opacity: .7;
  line-height: 2;
  font-style: cpatialize;
}
.bannerSub2 {
  background-color: $purple-main;
  color:white;
  font-size: 1.2rem;
  opacity: .5;
  line-height: 2;
margin:1.5rem 0;
  font-style: cpatialize;
}

.sectionPayment{
margin:0 auto;

//   .twoColGridCon {
//   display: grid;
//   gap: 8rem;
//   grid-gap: 2rem;
//   grid-template-columns: 1fr 1fr;
//   text-align: left;
// }

// .twoColGrid {
//   text-align: left;
//   padding: 20px 0;
//   font-size: 1.5rem;
//   // padding: 10px;
// }
}
.anchortag {
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: .3rem;
  color: $color-comp4;
}

//Start Application page
.sectionStartappList {
  margin: 3rem 3rem;
  background-color: whitesmoke;

  .checklist {


    margin: 2rem 0 2rem 0;

      .imgtick{
        // float:left;
        text-align: left;
      }
    .heading {
      
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-left: 1rem;
      // text-align: center;
    }
    

    .text {

      font-size: 1.15rem;
      line-height: 2;
      font-family: "Lato";
      margin-top:1rem;
          text-align: left;

    
    }

  }
  


}


//How to apply page


