@import "./variable";

.carousel {
  padding: 20px;
  background-color: $orange;
}

.sliderImage {
  width: 100%;
  height: 100%;
  gap: 20px;
  border-radius: 2rem;
  border: 6px solid white;
  max-width: 420px;
}

.sliderText {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 120px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 1rem;
  background-color: $brown;
  border: 1px solid white;
  color: white;
  transition: 500ms;
}

.sliderText:hover {
  background-color: white;
  color: $orange;
}
