@import "./abstracts/variables";

.sidenavcontact {
  background-color: $lightgrey1;
  margin-top: 0.5rem;
  font-family: "Lato", "sans serif";
  font-size: 1.25rem;
  // margin-left:2rem;
  color: #1d1d1f;
}

.sidenav p {
  font-size: 1.5rem;
  color: #1d1d1f;
  margin-bottom: 1rem;
  font-weight: 700;
}
.name {
  margin: 0.5rem 0;
}

.tel {
  /* color:red; */
  margin: 0;
}
.email {
  color: $orange;
  margin: 0;
  padding: 0;
}
.sidenavbutton {
  background-color: $orange;
  border: 0.25em;

  color: whitesmoke;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.sidenavContactContainer {
  display: flex;
  margin-top: 15 px;
}
.sidenavContactItem {
  width: 33%;
}
