@import "./variable";


.courseName{
    font-family:"Bodoni", Helvitica;
    font-size:3rem;
    color:white;
    margin: 0 0 2rem 0 ;
    background-image: linear-gradient(to right, $orange,$purple-secondary);
}
.headingsecondary{
    font-size: 1.5rem;
    font:"Lato",Arial;
    margin:1.5rem 0;
    font-weight: bold;
}
.footnote{
    font-size: 1.1rem;
    font-style: italic;
    margin:1rem 0;
}
.threeColGridCon{  
  display: grid;
   gap: 5rem;
   grid-gap:2rem ;
  grid-template-columns: auto auto auto;
 
 }
 .threeColGrid {  
   text-align: center;
//    padding: 20px ;
   font-size: 1.5rem;
   
 
   // padding: 10px;
 }
.sectionOverview{

    margin-right:3rem;
    font-size:1.25rem;
     line-height: 2;
    //  margin-left:5rem;
    .desc{
        font-size:1.25rem;
        text-align: justify;
        font-family: "Lato" ,Arial, Helvetica, sans-serif;
        margin: 3rem 0;
       
    }
    .entryreq{
        .list{
           margin-left:2rem;
        .items{
         list-style-type: square;
         margin:.5rem 0;
         
            }
             .items::marker{
         
             color:$orange;
               }        

        }

    }
    .icon{
        width:70px;
        height: 70px;
        
    }
    .iconsection{
        // margin:  2rem 0;
        margin:3rem 0;
    }
    .iconfont{
        font-size: 1.1rem;
       
        
    }
    .inquiryform{
    text-align: left;
   margin-left:1rem;
    font-size:2rem;
    }
  
    

}
.sectionCareers{
 margin:3rem 3rem 6rem 0;
//  margin-top:6rem;
  background-color: white;
  color: #222222;
//   margin-bottom: 6rem;



.careerstable {
  font-family: Lato;
  font-size: 1.25rem;
  border-collapse: collapse;
  width:100%;
}

.careerstable td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

.careerstable tbody tr:nth-child(2n) {
  background-color: #eee;
}

.careerstable th {

  /* background-color: red; */
  color: #222222;

  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;

  backface-visibility: hidden;
 
  font-size: 1.25rem;
  font-weight: 900;
}



}

.sectionPortfolio{

}
.sectionGradSpeak{

}
.sectionCurriculum{

}
.sectionFinancial{

}