@import "./variable";

/* Department */



.sectionoverview{
    
    background-color: $grey-light;

}
.sectionwhatsup{

    margin:2rem 10rem;
    background-color: $red-dark


}

.sectionfeaturedwork{
    height: 250px;
       background-color: $grey-light;

}

.sectionfaculty{
    height: 250px;
     background-color: $red-dark
}

.sectionprogrammes{
        height:250px;
     background-color: $grey-light;

}
.sectionsturesources{
        height: 250px;
         background-color: $red-dark

}

 .threeGridCon{
    display: grid;
     gap: 3rem;
     grid-gap:2rem ;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    margin-right:5rem;
  

   }
   .threeGridCol {

     text-align: center;
     padding-top: 5rem; 
     font-size: 30px;
     margin: 1.5rem 0 3rem 0;
     margin-bottom:0;
     
    
   }