/* Department */
/*Department Styles Has Side nav */
.newsHeading {
  font-family: "Libre Baskerville", sans-serif;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 4rem;
  color: rgb(41, 40, 42);
}
.newsHeading span {
  color: rgb(104, 91, 199);
}

.primaryheading {
  font-family: "Bodoni";
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.5rem;
}

.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: inherit;
}

.degreecategory {
  font-size: 2rem;
  padding-left: 1rem;
  color: rgb(104, 91, 199);
}

.sectionOverview {
  padding: 5rem 5rem 8rem 0;
  margin: 0 10rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.sectionOverview .maintext {
  font-size: 1.5rem;
  color: rgb(41, 40, 42);
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 4rem;
}
.sectionOverview .subtext {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(41, 40, 42);
  line-height: 1.75;
  text-align: justify;
  margin-bottom: 2rem;
}
.sectionOverview .corevalues {
  text-align: left;
  background-color: #f7f7f7;
  color: rgb(41, 40, 42);
  margin-bottom: 2rem;
}
.sectionOverview .corevalues ul {
  color: rgb(41, 40, 42);
  padding: 1rem 0 2rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  list-style: none;
  text-align: left;
}
.sectionOverview .corevalues li {
  padding: 0.5rem 1rem;
  color: rgb(41, 40, 42);
  text-align: left;
}
.sectionOverview .corevalues li span {
  color: rgb(104, 91, 199);
}
.sectionOverview .corevalues li :hover {
  text-decoration: underline;
  color: rgb(104, 91, 199);
  transform: scale3d(1);
}
.sectionOverview .accordion {
  text-align: center;
  background-image: linear-gradient(to right, rgb(104, 91, 199), #cc6330);
  background-image: -webkit-linear-gradient(right, rgb(121, 47, 142), #cc6330);
  color: rgb(41, 40, 42);
  background-image: -o-linear-gradient(right, rgb(121, 47, 142), #cc6330);
  margin-bottom: 2rem;
}
.sectionOverview .accordion:first-child {
  margin-left: 2rem;
}
.sectionOverview .accordion:last-child {
  margin-right: 2rem;
}
.sectionOverview .acoordiantext {
  display: block;
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sectionContact {
  background-color: rgb(250, 250, 252);
  margin: 0;
}
.sectionContact .contactcard {
  margin: 5rem;
}

.sectionWhatsup {
  padding: 5rem 5rem 8rem 0;
  margin: 0 15rem;
}

/*3 columns change name*/
.sectionFeaturedwork {
  padding: 5rem 5rem 8rem 0;
  margin: 0 10rem;
}

.sectionFaculty {
  padding: 3rem 5rem 3rem 0;
  margin: 0 15rem;
  font-size: 1.25rem;
}
.sectionFaculty .fourGridCon {
  display: grid;
  gap: 3rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  margin-right: 5rem;
}
.sectionFaculty .fourGridCol {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  margin: 1.5rem 0 3rem 0;
  margin-bottom: 0;
}

.sectionProgrammes {
  margin: 0;
  padding: 5rem 5rem 8rem 0;
  background-color: rgb(41, 40, 42);
}
.sectionProgrammes .courseaccordion {
  text-align: center;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, rgb(121, 47, 142), #cc6330);
  background-image: -o-linear-gradient(right, rgb(121, 47, 142), #cc6330);
  margin: 2rem 0;
}

.sectionStuResources {
  margin: 0 10rem;
  padding: 3rem 5rem 8rem 0;
  box-sizing: border-box;
}
.sectionStuResources .studCont {
  position: relative;
}
.sectionStuResources .textblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.threeGridCon {
  display: grid;
  gap: 3rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  margin-right: 5rem;
}

.threeGridCol {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  margin: 1.5rem 0 3rem 0;
  margin-bottom: 0;
}

.threeGridRowCon {
  display: grid;
  gap: 3rem;
  grid-gap: 2rem;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
  margin-right: 5rem;
}

.threeGridRow {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  margin: 1.5rem 0 3rem 0;
  margin: 2rem;
}/*# sourceMappingURL=Department.module.css.map */