@import './abstracts/variables';

/* Department */

/*Department Styles Has Side nav */


.newsHeading {
    font-family: 'Libre Baskerville', sans-serif;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 4rem;
  color:$grey;
  // grid-column: 1 / span 2;
  span {
    color:$color-primary;
  }
}

.primaryheading {
  font-family: "Bodoni";
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.5rem;
}

.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: inherit;
}

.degreecategory {
  font-size: 2rem;
  padding-left: 1rem;
  color:$color-primary;
}
.sectionOverview {
  // color: $grey;
  // box-sizing: inherit;
  padding: 5rem 5rem 8rem 0;
  margin: 0 10rem;

  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;

  .maintext {
    font-size: 1.5rem;
    color: $grey;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 4rem;
  }
  .subtext {
    text-align: center;
    font-size: 1.2rem;
    color: $grey;
    line-height: 1.75;
    text-align: justify;
    margin-bottom: 2rem;
  }


  .corevalues{

    text-align: left;
    background-color: $color-grey-light-1;
    color:$grey;
    margin-bottom: 2rem;


ul {
  color: $grey;
  padding: 1rem 0 2rem 0;

  font-size: 1.25rem;
  font-weight: bold;
  list-style: none;
  text-align: left;
}

li {
  padding: .5rem 1rem;
  color: $grey;
  text-align:left;
  span{
    color:$color-primary;
  }

  :hover {
    text-decoration: underline;
   color:$color-primary; 
    transform: scale3d(1);
  }
}
}

  .accordion {
    text-align: center;
    background-image: linear-gradient(to right, $color-primary, $orange);
    //   /* For older browsers */
    background-image: -webkit-linear-gradient(
      right,
      $purple-secondary,
      $orange
    );
    color:$grey;
    background-image: -moz-linear-gradient(right, $purple-secondary, $orange);
    background-image: -o-linear-gradient(right, $purple-secondary, $orange);
    margin-bottom: 2rem;

    // //  margin: 0 2rem ;
  }
  .accordion:first-child {
    margin-left: 2rem;
  }
  .accordion:last-child {
    margin-right: 2rem;
  }
  .acoordiantext {
    display: block;
    font-size: 1.4rem;
    font-weight: 800;
    color: white;

    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.sectionContact {
  background-color: $lightgrey1;
  margin: 0 ;
  .contactcard{
    margin: 5rem;
  }
}

.sectionWhatsup {
  padding: 5rem 5rem 8rem 0;
  margin: 0 15rem;
  //  .threeColGridCon{
  //    display: grid;
  //    gap: 8rem;
  //    grid-gap:2rem ;
  //    grid-template-columns: auto auto auto;

  //  }
  //  .threeColGrid {
  //    text-align: center;
  //    padding: 2rem 0;
  //    font-size: 1.5rem;
  //    // padding: 10px;
  //  }
}
/*3 columns change name*/

.sectionFeaturedwork {
  padding: 5rem 5rem 8rem 0;
  margin: 0 10rem;
}

.sectionFaculty {
  padding: 3rem 5rem 3rem 0;
  margin: 0 15rem;
  font-size: 1.25rem;

  .fourGridCon {
    display: grid;
    gap: 3rem;
    grid-gap: 2rem;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    margin-right: 5rem;
  }
  .fourGridCol {
    text-align: center;
    padding-top: 5rem;
    font-size: 30px;
    margin: 1.5rem 0 3rem 0;
    margin-bottom: 0;
  }
}




.sectionProgrammes {
  margin: 0 ;
  padding: 5rem 5rem 8rem 0;
  background-color: $grey;
  
  .courseaccordion {
    text-align: center;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, $purple-secondary, $orange);
    // //   /* For older browsers */
    background-image: -webkit-linear-gradient(
      right,
      $purple-secondary,
      $orange
    );
    background-image: -moz-linear-gradient(right, $purple-secondary, $orange);
    background-image: -o-linear-gradient(right, $purple-secondary, $orange);
    margin: 2rem 0;
  }
}
.sectionStuResources {
  margin: 0 10rem;

  padding: 3rem 5rem 8rem 0;
  box-sizing: border-box;

  .studCont {
    position: relative;
  }

  // /* Bottom right text */
  .textblock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
}

.threeGridCon {
  display: grid;
  gap: 3rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  margin-right: 5rem;
}
.threeGridCol {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  margin: 1.5rem 0 3rem 0;
  margin-bottom: 0;
}

.threeGridRowCon {
  display: grid;
  gap: 3rem;
  grid-gap: 2rem;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
  margin-right: 5rem;
}
.threeGridRow {
  text-align: center;
  padding-top: 5rem;
  font-size: 30px;
  margin: 1.5rem 0 3rem 0;
  margin: 2rem;
}
