@import './variable';

.gridContwo{
  display: grid;
   gap: 8rem;
   grid-gap:2rem ;
  grid-template-columns: 60% 40% ;
  margin: 0 auto;
 
 }
 .gridtwo {
 
   text-align: center;
   padding: 1.5rem 0 0 0;
   font-size: 30px;
   margin: 1.5rem 0 0 0;
  
   // padding: 10px;
 }
.title{
    font-size: 1.25rem;
   
    font-weight: 900;
   
    text-align: left;
    margin-bottom:1rem;
}
// .imgstyle{
// //     width:200px;
// //     height: 200px;
// // }

.text{
    font-size: 1.25rem;
    color: $grey-light;
    text-align: left;
}

.goto{
  color:$orange2;
  font-size:1.25rem;
  text-align: right;
}