@import "./variable";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  white-space: nowrap;
  color:white;
}
.mainFooter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.contact {
  line-height: 1.5;
  div:first-child {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.uptoDate {
  div:first-child {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
  }
  text-align: center;
  a {
    color: inherit;
  }
}

.button {
  margin: 15px auto;
  border-radius: 20px;
  border: 2px solid black;
  padding: 3px;
  text-align: center;
  width: 60%;
  font-size: 1rem;
  transition: 0.5s;
  &:hover {
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
    color: black;
  }
  a:link {
    text-decoration: none;
    color: inherit;
  }
}

.socials {
  div:first-child {
    font-weight: bold;
    text-transform: uppercase;
  }
  text-align: center;
  font-size: 1rem;
}

.socialsIcons {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 15px;

  a {
    color: inherit;
    transition: 0.5s;
  }
  a:hover {
    cursor: pointer;
    color: white;
  }
}

.copyRight {
  margin: auto;

  padding-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  .mainFooter {
    flex-direction: column;
    gap: 30px;
    padding: 2rem 2rem;
    align-items: center;
  }

  .contact {
    text-align: center;
  }
}
