@use "./abstracts/variables" as v;

.headerContainer {


  display: grid;
    grid-template-rows: 50vh;
  // margin: 0;
  // overflow: hidden;
  // // max-width: 100vw;
  // height: 100%;
  // width: 100%;
  // position: absolute;

  //  background-image: linear-gradient(
  //     to right,
  //     rgba(v.$color-white, 0.25),
  //     rgba(v.$color-primary-light, 0.25),
  //     rgba(v.$color-primary-light, 0.5)
  //   );
  //   height: 100dvh;
  // width: 100vw;
  // background-position: top;
  // background-size: cover;
  // margin: 0;
  // position: relative;
  // z-index:0;
  
}
.headerContainer__img {
  height: 400px;
  // width: 100vw;
  // object-fit: cover;
  // background-position: top;
  // background-size: cover;
  // margin: 0;
  position: relative;
  // z-index:0;

 
}
.header {
  height: 50vh;
  //  height: 60vw;
  // width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba(v.$color-white, 0.25),
      rgba(v.$color-primary-light, 0.25),
      rgba(v.$color-primary-light, 0.5)
    ),
    url("../../public/images/about/qualitycontrol1.jpg");
  // Source: https://www.freepik.com/free-photo/standard-quality-control-collage-concept_30589253.htm#query=quality%20assurance&position=44&from_view=keyword&track=ais&uuid=11090649-220d-41aa-874a-c89449145375
  background-size: cover;
  background-position: top;
  position: relative;
}

