@import "./abstracts/variables";
@import "./abstracts//mixins";

.homeContainer {
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

/*Section One, Slider and Select styles*/
.sectionOne {
  display: flex;

  padding: 0;
  margin-bottom: 40px;
  background-color: $grey;
}

.sectionOneLeft {
  background-size: cover;
  padding: 0 20px;
  display: block;
  min-width: 30%;
  height: 100%;
  margin: auto;
  // margin: 0;
  padding: 0;

  h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    // margin-top: 3rem;
  }
}

.sectionLeftTop {
  background-color: $grey;
  // margin:2rem;
  // background-image: linear-gradient(
  //   to bottom right,
  //   $color-primary,
  //   $color-primary-dark
  // );
  // padding-top: 2.5rem;
  // padding-left:2.5rem;
  // padding-bottom: 0;

  padding: 2.5rem 0 0 0;
  border-top: 0 $whiteback solid;
  h2 {
    font-family: $default-font-family;
    box-shadow: 2px 2px 5px $grey;

    font-size: 3.44rem;
    line-height: 1.5;
    color: white;
    text-align: center;

    // letter-spacing: 1px;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    color: $lime-green;
  }
}
.sectionLeftBottom {
  background-color: $grey;
  background-image: url("../../images/Links/colors.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  // background-position: bottom 50px left ;

  margin: 0 0 0 0;
  padding: 2rem 1rem;
  max-height: 75.5%;
  color: $color-primary;
  h3 {
    font-size: 1.6rem;
    color: $lime-green;
  }
}

.sectionOneRight {
  height: 100%;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderText {
  position: relative;
  bottom: 82px;
  text-align: center;
  padding: 20px;
  background-color: $red-dark;
  opacity: 80%;
  font-size: xx-large;
  color: white;
}

.sliderArrows {
  position: relative;
  top: 300px;
  font-size: 9.6rem;
  z-index: 10;
  cursor: pointer;
  color: white;
}

.rightSliderArrow {
  position: absolute;
  right: 0.2rem;
}

.leftSliderArrow {
  position: absolute;
  left: 3rem;
}

.selectContainer {
  margin-top: 1.8rem;
  position: relative;
  width: auto;
  padding: 30px;

  margin-bottom: 1.6rem;
  text-align: center;
  h3 {
    font-size: 2rem;
    color: white;
  }
}
.innerSelectContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 10px;
}

.Arrow {
  position: absolute;
  right: 40px;
  font: 1.6rem sans-serif;
  height: 100%;
  overflow: hidden;
  color: $grey;
  cursor: pointer;
}

.innerSelectContainer .selectDropDown {
  padding: 10px 12px;
  opacity: 100%;

  cursor: pointer;
  appearance: none;
  height: 100%;
  width: 100%;
  font-size: large;
  line-break: 3.2rem;
  &:focus,
  &:hover {
    outline: none;
  }
}

/*Section Two styles*/
.sectionUniquelyUs {
  padding: 20px 10px;
  margin-top: 16rem;
  margin-bottom: 12.8rem;
  height: 100%;

  .row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      max-width: 80rem;
      padding: 0 4.8rem;
    }

    @include clearfix;
    .col1of4 {
      background-color: blue;

      float: left;

      &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @include respond(tab-port) {
          margin-right: 0;
          margin-bottom: $gutter-vertical-small;
        }
      }

      @include respond(tab-port) {
        width: 100% !important;
      }
      width: calc((100% - 3 * 12.8rem) / 4);
    }
  }
}

.sectionheadings {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 6.4rem;
  span {
    color: $color-primary-dark;
  }
}

.sectionTwoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.ourSchoolsText {
  font-family: $default-font-family;
  font-size: 21.76rem;
  line-height: 2.5;
  text-align: justify;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 25px 0 0;
}

.schoolTile {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.schoolTileTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 12.8em;
  background-color: $color-primary;
  color: white;
  opacity: 90%;
  font-size: smaller;
}

/*Section Three styles*/
.sectionEvents {
  padding: 0 2em;
  margin-top: 12.8em;
  margin-bottom: 12.8em;
  // border-color: lightgray;
  background-color: rgba($color-grey-light-2, 0.5);
}

.sectionThreeTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5em;
  margin-right: 3em;
  gap: 15px;
  // background-color: $color-primary-dark;
  // img {
  //   width: 100%;
  //   height: 300px;
  //   border: 2px solid white;
  //   box-shadow: 2px 2px 5px white;
  //   object-fit: cover;
  // }
  h1 {
    font-size: large;
    font-weight: bolder;
    text-transform: capitalize;
  }
  p {
    padding-bottom: 10em;
  }
}
.eventHeading {
  text-align: center;
  font-size: 6.4rem;
  margin-bottom: 6.4em;
  span {
    color: $color-primary;
  }
}

/*Section Four styles*/
.sectionFour {
  padding: 0 12em;
  margin-top: 12.8em;
  margin-bottom: 12.8em;
  height: 100%;
  // border-color: lightgray;
  border-color: rgba($color-grey-light-2, 0.5);
}

.sectionFourTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.newsFeatureContent {
  background-color: red;
  // grid-column: 1 / span 2;
}

// .newsFeatureImage{
// background-color: pink;

// }
.sectionNewsTitle {
  grid-column: 1 / span 2;
}

.newsHeading {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 2.4em;
  color: $grey;
  grid-column: 1 / span 2;
  span {
    color: $color-primary;
  }
}

.featuredNews {
  align-items: center;
  margin-bottom: 0.19em;
}

.featuredNews {
  width: auto;
  text-align: center;
  margin-bottom: 1.5em;
  x img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1.5em;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
}

.newsFeatureHomepage {
  position: relative;
  margin-bottom: 15px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  grid-column: 1 / span 2;

  .imgFeature {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    object-fit: cover;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
  .newsDate {
    background-color: white;
    padding: 3.2rem;
    position: absolute;
    top: 1em;
    left: 1em;
  }
  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }
}

.newsTileHomepage {
  position: relative;
  margin-bottom: 1.5em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  text-align: center;

  img {
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5em;
    object-fit: cover;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
  .newsDate {
    background-color: white;
    padding: 3.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }
}
.submit {
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}

.selectButton {
  text-align: center;
  width: 30%;
  background-color: $color-primary;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}
/*Success section styles*/

.successSlider {
  height: auto;
  width: 60vw;
  margin: auto;
}
.successSection {
  //background-image: url("../../images/Links/campus 2.jpg");
  background-size: cover;
  height: 100%;
  width: auto;
  // border: 2px solid red;
  //  padding: 20px;
}

.successStories {
  text-align: center;
  // background-color: $orange;
  color: $grey;
  padding: 1rem;
  margin-bottom: 8px;
  p {
    font-size: larger;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}

//------------ MOBILE STYLES Max 1200px  -----------------//

@media only screen and (max-width: 1200px) {
  .sectionOneLeft {
    padding: 0 3rem;
    text-align: center;
    width: 50%;
    h1 {
      line-height: 3.3rem;
      font-size: 1.3rem;
      font-weight: bolder;
    }
  }

  .dropDown {
    width: 100%;
  }

  .sectionTwo {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    .ourSchoolsText {
      grid-column: 1/4;
      h1 {
        font-size: 5rem;
        padding: 0;
      }
      p {
        padding: 0 2rem;
        text-align: center;
      }
    }
  }
  .sectionThreeTiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    p {
      font-size: small;
      padding-bottom: 10px;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: blue;
    }
  }
}

//------------ MOBILE STYLES Max 960px  -----------------//

@media only screen and (max-width: 960px) {
  .sectionOneLeft {
    p {
      display: none;
    }
    h1 {
      display: none;
    }
    img {
      display: none;
    }
    margin-top: 60px;
    padding-bottom: 40px;
  }

  .sectionOneRight {
    display: none;
    margin: 0px;
  }

  .sectionOne {
    margin: 0px;
    height: 100%;
  }

  .sectionTwo {
    margin-top: 0px;
    .ourSchoolsText {
      p {
        display: none;
      }
    }
  }
  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    img {
      width: 80%;
      height: auto;
      padding-right: 0;
      border: 4px solid white;
    }
    h1 {
      text-align: center;
      font-size: large;
      margin-top: 5px;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: green;
    }
  }
}

//------------ MOBILE STYLES Max 480px  -----------------//

@media only screen and (max-width: 480px) {
  .sectionOneLeft {
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }

  .sectionTwo {
    padding-top: 0;
    display: block;
    .ourSchoolsText {
      h1 {
        display: none;
      }
    }
  }
  .schoolTile {
    height: 300px;
    margin-bottom: 5px;
  }
  .schoolTileTitle {
    font-size: large;
  }

  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);

    width: 100%;

    img {
      width: 100%;
      border: 1px solid white;
    }
    h1 {
      font-size: small;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
  }
  .newsHeading {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
    span {
      color: yellow;
    }
  }

  .successStories {
    p {
      text-align: center;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
