@import "./abstracts/variables";
@import "./abstracts/mixins";

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    margin-bottom: 2em;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    background-color: $color-primary-dark;
    color: white;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &__white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &__purple {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary-dark;
    }
  }

  &__selecthome {
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 2rem;
    margin-bottom: 0;

    &::after {
      background-color: $color-primary-dark;
    }

    &__center {
      padding: 1rem 6rem;
      align-items: center;
    }
  }

  &__red {
    background-color: $red-dark;
    color: $color-white;
    padding: 1.25rem 3rem;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
.btnText {
  color: $color-primary;
  margin: 3.6rem;
  font-size: 1.8rem;
  border-bottom: 1px solid $color-primary;

  &:link,
  &:visited {
    font-size: 1.8rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3.6rem;

    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.bg_video {
  position: absolute;
  top: 5%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  // opacity: .05;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.homeContainer {
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

/*Section One, Video and form */
.sectionOne {
  display: flex;
  padding: 0;
  margin-bottom: 4rem;
  background-color: $grey;
}

.sectionOneLeft {
  background-size: cover;
  padding: 0 20px;
  display: block;
  min-width: 30%;
  height: 100vh;
  margin: auto;
  // margin: 0;
  padding: 0;

  h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    // margin-top: 3rem;
  }
}

.heading {
  font-size: 3rem;
  color: $color-white;
  margin: 0 1rem;
  padding: 0 1rem;
}

.selecthome {
  // background-color: $grey;
  // color: $color-white;
  // padding: 1rem 2rem;
  // margin-bottom: 0;

  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  // background-color: $color-primary;
  background: $grey;
  padding: 1rem 2rem;
  border: 0.2rem solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;

  &::after {
    background-color: $color-primary-dark;
  }

  &:hover {
    color: #ffffff !important;
    background: $color-primary-dark;
    border-color: $color-primary-dark !important;
    transition: all 0.4s ease 0s;
  }
}

.sectionLeftTop {
  height: 90vh;
  margin-bottom: 0;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);

  // box-shadow: 2px 2px 5px red;
  padding: 2.5rem 0 0 0;
  border-top: 0 $whiteback solid;
  h2 {
    font-family: $default-font-family;
    // box-shadow: 2px 2px 5px $grey;

    font-size: 3rem;
    line-height: 1.5;
    color: white;
    text-align: center;

    // letter-spacing: 1px;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    color: $grey;
  }
}
.sectionLeftBottom {
  background-color: transparent;

  margin: 0 0 0 0;
  padding: 2rem 1rem;
  max-height: 75.5%;
  color: $color-primary;
  h3 {
    font-size: 1.6rem;
    color: $color-white;
  }
}

// .sliderImage {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .sliderText {
//   position: relative;
//   bottom: 82px;
//   text-align: center;
//   padding: 20px;
//   background-color: $red-dark;
//   opacity: 80%;
//   font-size: xx-large;
//   color: white;
// }

// .sliderArrows {
//   position: relative;
//   top: 300px;
//   font-size: 9rem;
//   z-index: 10;
//   cursor: pointer;
//   color: white;
// }

// .rightSliderArrow {
//   position: absolute;
//   right: 0.2rem;
// }

// .leftSliderArrow {
//   position: absolute;
//   left: 3rem;
// }

.selectContainer {
  margin-top: 1.8rem;
  position: relative;
  top: 50%;
  width: 30%;
  padding: 30px;
  background-color: transparent;
  box-shadow: -15px 0px 17px -7px rgba(72, 63, 138, 0.75);
  margin-bottom: 1.6rem;
  text-align: center;
  h3 {
    font-size: 2rem;
    color: $color-white;
    text-align: left;
    font-weight: 500;
  }
}
.innerSelectContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 10px;
  background-color: transparent;
}

.Arrow {
  position: absolute;
  right: 2rem;
  font-size: 1.2rem;
  height: 100%;
  overflow: hidden;
  color: $color-primary-dark;
  cursor: pointer;
}

.innerSelectContainer .selectDropDown {
  padding: 10px 12px;
  opacity: 100%;
  cursor: pointer;
  appearance: none;
  height: 100%;
  width: 100%;
  background-color: rgba($color-grey-light-2, 0.5);
  font-size: 1.5rem;
  line-break: 3.2rem;
  &:focus,
  &:hover {
    outline: none;
  }
}

.threeholder {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  // display: grid;
  // grid-template-columns: repeat(4,1fr);
  // border: 1px solid rgba($grey,0.4);
}
.threeone {
  display: inline-block;

  width: 25%;
  height: 100%;
  background-color: $grey;
  border-bottom: 15px solid $color-primary-dark;
  text-align: center;
  transition: all 0.25s;

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}
.threetwo {
  display: inline-block;
  width: 25%;
  height: 100%;
  // background: transparent;
  border-bottom: 15px solid $color-primary-dark;
  transition: all 0.25s;
  background-color: $grey;
  // border: 1px solid white;

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}
.threethree {
  display: inline-block;
  width: 25%;
  height: 100%;

  border-bottom: 15px solid $color-primary-dark;
  transition: all 0.25s;
  background-color: $grey;
  // border: 1px solid white;

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}
.threefour {
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: $grey;

  // border: 1px solid white;
  border-bottom: 15px solid $color-primary-dark;
  transition: all 0.25s;

  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}
.centerbutton {
  margin: auto;
}

.threeone:hover {
  background: $color-primary-dark;
  transform: move;
}
.threeone:hover .circlepic {
  background: $grey;
}
.threeone:hover .circleborder {
  background: #333333;
}
.threeone:hover svg {
  fill: $color-primary-dark;
  font-size: 1.5rem;
}
.threeholder h4 {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: -55px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;

  color: white;
}
.threeholder ul {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-left: -55px;
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: $color-white;
  font-weight: 600;
}

.threeholder li {
  // display: inline-block;
  // width: 200px;
  // text-align: center;
  // margin-left: -55px;
  // margin-top: 20px;
  // font-size: 1.6rem;
  // padding: 1rem 0;
  // color: $color-white;
  // font-weight: 600;

  // line-height: 1.5;
}
.threeone:hover h4 {
  color: black;
}
.threetwo:hover h4 {
  color: black;
}
.threethree:hover h4 {
  color: black;
}
.threefour:hover h4 {
  color: black;
}
.threeone:hover svg,
.threetwo:hover svg,
.threethree:hover svg,
.threefour:hover svg {
  transition: all 0.65s;
  transform: rotateY(360deg);
}
.threetwo:hover {
  background: $color-primary-dark;
}
.threetwo:hover .circleborder {
  background: #333333;
}
.threetwo:hover svg {
  fill: $color-primary-dark;
}
.threethree:hover {
  background: $color-primary-dark;
}
.threethree:hover .circleborder {
  background: #333333;
}
.threethree:hover svg {
  fill: $color-primary-dark;
}
.threefour:hover {
  background: $color-primary-dark;
}
.threefour:hover .circleborder {
  background: transparent;
}
.threefour:hover svg {
  fill: $color-primary-dark;
}
.circleborder {
  position: absolute;
  top: 30px;
  width: 90px;
  height: 90px;
  background: $color-primary-dark;
  margin-left: 88.33333px;
  border-radius: 50%;
}
.circlepic {
  position: absolute;
  top: -10px;
  margin-top: 30px;
  width: 110px;
  height: 110px;
  background: $grey;
  margin-left: 78.33333px;
  border-radius: 50%;
}

/*Section Two styles*/
.sectionUniquelyUs {
  background-color: purple;
  padding: 20px 10px;
  // margin-top: 16rem;
  // margin-bottom: 12.8rem;

  .row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @media only screen and (max-width: 56.25em) {
        margin-bottom: $gutter-vertical-small;
      }
    }

    @media only screen and (max-width: 56.25em) {
      max-width: 80rem;
      padding: 0 4.8rem;
    }

    @include clearfix;
    .col1of4 {
      background-color: blue;

      float: left;

      &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @media only screen and (max-width: 56.25em) {
          margin-right: 0;
          margin-bottom: $gutter-vertical-small;
        }
      }

      @media only screen and (max-width: 56.25em) {
        width: 100% !important;
      }
      width: calc((100% - 3 * 12.8rem) / 4);
    }
  }
}

/*Section Notices */

.sectionNotices {
  height: 30rem;
  // width: 100%;
  margin: 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $color-primary-dark;

  background-image: linear-gradient(
    to right,
    rgba($color-white, 0.25),
    rgba($color-primary-light, 0.25),
    rgba($color-primary-light, 0.5)
  );

  @media screen and (max-width: 768px) {
  .sectionNotices {
    grid-template-columns: 100%; /* Adjusted to single column for smaller screens */
    padding: 5rem; /* Adjusted padding for better spacing on smaller screens */
 
 
  }

}

  h2 {
    padding: 1rem 2rem;
    font-size: 5rem;
    color: $color-white;

    @media screen and (max-width: 768px) {
 h2 {
    font-size: 4rem; /* Decreased font size for better readability on smaller screens */
  }
}

  }
  p {
    font-size: 3rem;
    padding: 2rem 4rem;
    color: $color-white;
     @media screen and (max-width: 768px) {
        p {
          font-size: 2.5rem; /* Decreased font size for better readability on smaller screens */
        }
 
      }
}
}
.sectionheadings {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 6.4rem;
  span {
    color: $color-primary-dark;
  }
}

/* Media Query for smaller screens */


.sectionTwoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.ourSchoolsText {
  font-family: $default-font-family;
  font-size: 21.76rem;
  line-height: 2.5;
  text-align: justify;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 25px 0 0;
}

.schoolTile {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.schoolTileTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 12.8em;
  background-color: $color-primary;
  color: white;
  opacity: 90%;
  font-size: smaller;
}

/*Section Three styles*/
.sectionEvents {
  padding: 0 2em;
  margin-top: 12.8em;
  margin-bottom: 12.8em;
  // border-color: lightgray;
  // background-color: rgba($color-grey-light-2, 0.5);
}

.sectionThreeTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// @media only screen and (max-width: 600px) {

//   .sectionThreeTiles {
//   display: grid;
//   grid-template-columns: 1fr;
// }

//}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5em;
  margin-right: 3em;
  gap: 15px;
  // background-color: $color-primary-dark;
  // img {
  //   width: 100%;
  //   height: 300px;
  //   border: 2px solid white;
  //   box-shadow: 2px 2px 5px white;
  //   object-fit: cover;
  // }
  h1 {
    font-size: large;
    font-weight: bolder;
    text-transform: capitalize;
  }
  p {
    padding-bottom: 10em;
  }
}
.eventHeading {
  text-align: center;
  font-size: 6.4rem;
  margin-bottom: 6.4em;
  span {
    color: $color-primary;
  }
}

/*Section Four styles*/
.sectionFour {
  padding: 0 12em;
  margin-top: 12.8em;
  margin-bottom: 12.8em;
  height: 100%;
  // border-color: lightgray;
  border-color: rgba($color-grey-light-2, 0.5);
}

.sectionFourTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.newsFeatureContent {
  background-color: red;
  // grid-column: 1 / span 2;
}

// .newsFeatureImage{
// background-color: pink;

// }

.sectioncallAction {
  margin: 0;
  display: grid;
  grid-template-columns: 70% 30%;

  // height: 50vh;
  // //  height: 60vw;
  // // width: 100vw;
  // background-image: linear-gradient(
  //     to right,
  //     rgba($color-white, 0.25),
  //     rgba($color-primary-light, 0.25),
  //     rgba($color-primary-light, 0.5)
  //   ),
  //   url("../../public/images/servicesPhoto/ChaguanasOutside.jpeg");
  // background-image:     url("../../public/images/servicesPhoto/ChaguanasOutside.jpeg");

  // Source: https://www.freepik.com/free-photo/standard-quality-control-collage-concept_30589253.htm#query=quality%20assurance&position=44&from_view=keyword&track=ais&uuid=11090649-220d-41aa-874a-c89449145375
  // background-size: cover;
  // background-position:center;
  // position: relative;
  // width: '100%';
  //   height: 40vh;

  .costaattImage {
    background-size: cover;
    background-position: center;
    position: relative;
    width: "100%";
    height: 40vh;
  }
}
.sectionNewsTitle {
  grid-column: 1 / span 2;
}

.newsHeading {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 2.4em;
  color: $grey;
  grid-column: 1 / span 2;
  span {
    color: $color-primary;
  }
}

.featuredNews {
  align-items: center;
  margin-bottom: 0.19em;
}

.featuredNews {
  width: auto;
  text-align: center;
  margin-bottom: 1.5em;
  x img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1.5em;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
}

.newsFeatureHomepage {
  position: relative;
  margin-bottom: 15px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  grid-column: 1 / span 2;

  .imgFeature {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    object-fit: cover;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
  .newsDate {
    background-color: white;
    padding: 3.2rem;
    position: absolute;
    top: 1em;
    left: 1em;
  }
  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }
}

.newsTileHomepage {
  position: relative;
  margin-bottom: 1.5em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  text-align: center;

  img {
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5em;
    object-fit: cover;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
  .newsDate {
    background-color: white;
    padding: 3.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }
}
.submit {
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}

.selectButton {
  text-align: center;
  width: 30%;
  background-color: $color-primary;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}
/*Success section styles*/

.successSlider {
  height: auto;
  width: 60vw;
  margin: auto;
}
.successSection {
  //background-image: url("../../images/Links/campus 2.jpg");
  // background-color: $color-grey-light-1;

  background-size: cover;
  height: 100%;
  width: auto;
  margin: 3rem 0;
  // border: 2px solid red;
  //  padding: 20px;
}

.successStories {
  text-align: center;
  // background-color: $orange;
  color: $grey;
  padding: 1rem;
  margin-bottom: 8px;
  p {
    font-size: larger;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}

//------------ MOBILE STYLES Max 1200px  -----------------//

@media only screen and (max-width: 1200px) {
  .sectionOneLeft {
    padding: 0 3rem;
    text-align: center;
    width: 50%;
    h1 {
      line-height: 3.3rem;
      font-size: 1.3rem;
      font-weight: bolder;
    }
  }

  .dropDown {
    width: 100%;
  }

  .sectionTwo {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    .ourSchoolsText {
      grid-column: 1/4;
      h1 {
        font-size: 5rem;
        padding: 0;
      }
      p {
        padding: 0 2rem;
        text-align: center;
      }
    }
  }
  .sectionThreeTiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    p {
      font-size: small;
      padding-bottom: 10px;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: blue;
    }
  }
}

//------------ MOBILE STYLES Max 960px  -----------------//

@media only screen and (max-width: 960px) {
  .sectionOneLeft {
    p {
      display: none;
    }
    h1 {
      display: none;
    }
    img {
      display: none;
    }
    margin-top: 60px;
    padding-bottom: 40px;
  }

  .sectionOneRight {
    display: none;
    margin: 0px;
  }

  .sectionOne {
    margin: 0px;
    height: 100%;
  }

  .sectionTwo {
    margin-top: 0px;
    .ourSchoolsText {
      p {
        display: none;
      }
    }
  }
  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    img {
      width: 80%;
      height: auto;
      padding-right: 0;
      border: 4px solid white;
    }
    h1 {
      text-align: center;
      font-size: large;
      margin-top: 5px;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: green;
    }
  }
}

//------------ MOBILE STYLES Max 480px  -----------------//

@media only screen and (max-width: 480px) {
  .sectionOneLeft {
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }

  .sectionTwo {
    padding-top: 0;
    display: block;
    .ourSchoolsText {
      h1 {
        display: none;
      }
    }
  }
  .schoolTile {
    height: 300px;
    margin-bottom: 5px;
  }
  .schoolTileTitle {
    font-size: large;
  }

  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);

    width: 100%;

    img {
      width: 100%;
      border: 1px solid white;
    }
    h1 {
      font-size: small;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
  }
  .newsHeading {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
    span {
      color: $color-primary-dark;
    }
  }

  .successStories {
    p {
      text-align: center;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
/* General styles */
.btn {
  /* Existing styles */

  @media only screen and (max-width: 960px) {
    /* Adjust button padding for smaller screens */
    padding: 1rem 2rem;
    margin-bottom: 1em;
  }

  /* Add more responsive adjustments as needed */
}

.sectionOneLeft {
  /* Existing styles */

  @media only screen and (max-width: 960px) {
    /* Adjust section width for smaller screens */
    width: 100%;
  }

  /* Add more responsive adjustments as needed */
}

.selectContainer {
  /* Existing styles */

  @media only screen and (max-width: 960px) {
    /* Adjust container width for smaller screens */
    width: 100%;
  }

  /* Add more responsive adjustments as needed */
}

.threeholder {
  /* Existing styles */

  @media only screen and (max-width: 960px) {
    /* Adjust container height for smaller screens */
    height: auto;
  }

  /* Add more responsive adjustments as needed */
}

/* Add more media queries and responsive adjustments as needed */

@media only screen and (max-width: 480px) {
  /* Additional styles for screens up to 480px width */
}

