@import "./abstracts/variables";

.homeContainer {
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

/*Section One, Slider and Select styles*/
.sectionOne {
  display: flex;
  height: 80vh;
  padding: 0;
  background-color: $grey;
}

.sectionOneLeft {
  background-size: cover;
  padding: 0 20px;
  display: block;
  min-width: 30%;
  height: 100%;
  margin: auto;
  // margin: 0;
  padding: 0;

  // h2 {
  //   font-size: 2rem;
  //   font-weight: bolder;
  //   // margin-top: 3rem;
  // }
}

.sectionLeftTop {
  // background-color: $red;
  // margin:2rem;
  padding: 3rem;
  border-top: 0 $whiteback solid;
  h2 {
    font-size: 1.2rem;
    color: white;
    font-family: "Bodoni", Arial, Helvetica, sans-serif;
    line-height: 1.95;
    text-align: left;
  }
  h3 {
    font-size: 1rem;
    color: $lime-green;
  }
}
.sectionLeftBottom {
  background-color: $grey;
  background-image: url("../../images/Links/colors.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0;
  padding: 0;
}

.sectionOneRight {
  height: 100%;
  min-width: 70%;
  overflow: hidden;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderText {
  position: relative;
  bottom: 82px;
  text-align: center;
  padding: 20px;
  background-color: $brown;
  opacity: 80%;
  font-size: xx-large;
  color: white;
}

.sliderArrows {
  position: relative;
  top: 300px;
  font-size: 6rem;
  z-index: 10;
  cursor: pointer;
  color: $orange;
}

.rightSliderArrow {
  position: absolute;
  right: 2px;
}

.leftSliderArrow {
  position: absolute;
  left: 30px;
}

.selectContainer {
  // margin-top: 40px;
  position: relative;
  width: auto;
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  h3 {
    font-size: 2rem;
    color: white;
  }
}
.innerSelectContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 10px;
}

.Arrow {
  position: absolute;
  right: 60px;
  font: 2.5rem sans-serif;
  height: 100%;
  overflow: hidden;
  color: $brown;
  cursor: pointer;
}

.innerSelectContainer .selectDropDown {
  padding: 10px 12px;
  opacity: 100%;

  cursor: pointer;
  appearance: none;
  height: 100%;
  width: 100%;
  font-size: large;
  line-break: 2rem;
  &:focus,
  &:hover {
    outline: none;
  }
}

/*Section Two styles*/
.sectionTwo {
  padding: 0 80px;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 100%;
}

.sectionTwo h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  span {
    color: $brown;
  }
}

.sectionTwoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.ourSchoolsText {
  font-family: "Lato", sans-serif;
  font-size: 1.36rem;
  line-height: 2.5rem;
  text-align: justify;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 25px 0 0;
}

.schoolTile {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.schoolTileTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 8px;
  background-color: $brown;
  color: white;
  opacity: 90%;
  font-size: smaller;
}

/*Section Three styles*/
.sectionThree {
  padding: 0 20px;
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-color: lightgray;
}

.sectionThreeTiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
  margin-right: 30px;
  gap: 15px;
  img {
    width: 100%;
    height: 300px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px white;
    object-fit: cover;
  }
  h1 {
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
  }
  p {
    padding-bottom: 10px;
  }
}
.eventHeading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  span {
    color: $brown;
  }
}

/*Section Four styles*/
.sectionFour {
  padding: 0 120px;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 100%;
  border-color: lightgray;
}

.sectionFourTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.newsHeading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  span {
    color: $brown;
  }
}

.featuredNews {
  align-items: center;
  margin-bottom: 3px;
}

.featuredNews {
  width: auto;
  text-align: center;
  margin-bottom: 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
}

.newsTileHomepage {
  position: relative;
  margin-bottom: 15px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  text-align: center;

  img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  h1 {
    font-size: large;
    font-weight: bolder;
  }
  .newsDate {
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }
}
.submit {
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}

.selectButton {
  text-align: center;
  width: 30%;
  background-color: $brown;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    transform: scale(95%);
  }
}
/*Success section styles*/

.successSlider {
  height: auto;
  width: 60vw;
  margin: auto;
}
.successSection {
  //background-image: url("../../images/Links/campus 2.jpg");
  background-size: cover;
  height: 100%;
  width: auto;
  // border: 2px solid red;
  //  padding: 20px;
}

.successStories {
  text-align: center;
  // background-color: $orange;
  color: $orange;
  padding: 1rem;
  margin-bottom: 8px;
  p {
    font-size: larger;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}

//------------ MOBILE STYLES Max 1200px  -----------------//

@media only screen and (max-width: 1200px) {
  .sectionOneLeft {
    padding: 0 3rem;
    text-align: center;
    width: 50%;
    h1 {
      line-height: 3.3rem;
      font-size: 1.3rem;
      font-weight: bolder;
    }
  }

  .dropDown {
    width: 100%;
  }

  .sectionTwo {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    .ourSchoolsText {
      grid-column: 1/4;
      h1 {
        font-size: 5rem;
        padding: 0;
      }
      p {
        padding: 0 2rem;
        text-align: center;
      }
    }
  }
  .sectionThreeTiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    p {
      font-size: small;
      padding-bottom: 10px;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: blue;
    }
  }
}

//------------ MOBILE STYLES Max 960px  -----------------//

@media only screen and (max-width: 960px) {
  .sectionOneLeft {
    p {
      display: none;
    }
    h1 {
      display: none;
    }
    img {
      display: none;
    }
    margin-top: 60px;
    padding-bottom: 40px;
  }

  .sectionOneRight {
    display: none;
    margin: 0px;
  }

  .sectionOne {
    margin: 0px;
    height: 100%;
  }

  .sectionTwo {
    margin-top: 0px;
    .ourSchoolsText {
      p {
        display: none;
      }
    }
  }
  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    img {
      width: 80%;
      height: auto;
      padding-right: 0;
      border: 4px solid white;
    }
    h1 {
      text-align: center;
      font-size: large;
      margin-top: 5px;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    text-align: center;
    font-size: 3rem;
    span {
      color: green;
    }
  }
}

//------------ MOBILE STYLES Max 480px  -----------------//

@media only screen and (max-width: 480px) {
  .sectionOneLeft {
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }

  .sectionTwo {
    padding-top: 0;
    display: block;
    .ourSchoolsText {
      h1 {
        display: none;
      }
    }
  }
  .schoolTile {
    height: 300px;
    margin-bottom: 5px;
  }
  .schoolTileTitle {
    font-size: large;
  }

  .sectionThreeTiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }

  .events {
    grid-template-columns: repeat(1, 1fr);

    width: 100%;

    img {
      width: 100%;
      border: 1px solid white;
    }
    h1 {
      font-size: small;
    }
    p {
      display: none;
    }
  }

  .eventHeading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
  }
  .newsHeading {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
    span {
      color: yellow;
    }
  }

  .successStories {
    p {
      text-align: center;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
