@import "./abstracts/variables";
@import"./pages/services";


// .language{

    
//     background-color: rgba($color-grey-light-2, .5);
//     font-size: 1.8rem;   
//      padding: 2rem;
//     text-align:center;
//     border-radius: 3px;
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
//     transition: transform .3s;
//     width: 100px;
//     height: auto;

//     &__icon{
//         width: auto;
//         height: 100%;
//         font-size:3rem;
//     }
//     &__text{
//         font-size: 2.0rem;
//         color: $color-primary;
//     }
// }