@import "./variable";

.header {
  // position: sticky;
  position: relative;
  z-index: 40;
  top: 0;
}

.headerStyles {
  background-color: $purple-secondary;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 15px 15px;
  // animation: navLoad 300ms ease-in;
  animation: navScale 300ms ease-in;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.subheaderContainer {
  position: fixed;
  z-index: 40;
  top: 0;
  // background-color: $grey;

  background-image: linear-gradient(to right, $orange, $purple-secondary);

  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 10dvw 0 10dvw;
  color: $whiteback;
}
.sideNavContainer {
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.sideNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 15px 2rem 0 2rem;
  gap: 0.25rem;
  text-transform: capitalize;
  // animation: navLoad 300ms ease-in;
  animation: navScale 300ms ease-in;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.sideNavElement {
  padding: 0.5rem 1.5rem;
  position: relative;
  // border: black 1px solid;
}

.subheader {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 15px 2rem 0 2rem;
  text-transform: capitalize;
  // animation: navLoad 300ms ease-in;
  animation: navScale 300ms ease-in;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.activeSubsection {
  border-bottom: black 5px solid;
}
.rslink {
  padding: 0 2rem 1rem 2rem;
  cursor: pointer;
}
.rslinkSideNav {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 600;
}
.activeSideNavSubsection {
  color: rgb(0, 0, 0);
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $orange;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca0011;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.topNav {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
  background-color: $purple-secondary;
  color: white;
}

.centerNav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: left;
  background-color: $grey;
  margin: 0;
}
.centerNav h2 {
  font-size: 1.7rem;
}
//costaatt logo on main page 
.logo{
 padding: 0;
 margin: 0;
 float:left;
 padding-left: 0;
}
.costaattwords{
 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  color:black;
}

.bottomNav {
  justify-content: left;
  margin: 0;
  // padding: 30px 30px 15px 0;
  display: flex;
  background-color: $grey;
  color: $whiteback;
  // z-index: 10;
}
.bottomNav li {
  font-size: 1.2rem;
}

.navbarMenusCon{

   margin-left:5rem;
   margin-top:1.5rem;
  // padding:2rem;
  justify-items: center;
}

.navbarMenus {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.navBarLinks {
  width: 100%;
  padding: 9px 5px;
  text-decoration-color: white;
  cursor: pointer;
}

.navBarLinks:hover {
  transition: all 0.8s ease;
  border-radius: 15px;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  text-underline-position: under;
  color: $orange;
  padding: 9px 5px;
  text-decoration: underline !important;
}
.searchicon{
     margin-left:5rem;
   margin-top:5rem;
}

.dropDownMain {
  left: 0;
  top: 305px;
  width: 100%;
  position: absolute;
  z-index: 40;
}

.dropDown {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: $whiteback;
  background-color: $whiteback;
  box-shadow: inset 0px 14px 15px rgba(0, 0, 0, 0.3);
  padding: 40px 120px;
  .dropDownLi {
    color: $purple-main;
    padding: 20px;
    align-content: center;
    width: 100%;
    height: fit-content;
    &:hover {
      transition: all 0.5s ease;
      color: black;
      // background: $whiteback;
      text-decoration: underline;
      text-decoration-thickness: 0.4rem;
      text-underline-position: under;
      color: $orange;
    }
  }
}

.dropDownPictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.dropDownLinksGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.dummyImage {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}
//need to finish
.magnifyingGlass {
  border: 1px rgb(109, 128, 167) solid;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0 15px;
  box-shadow: 0 0 4px white;
  margin-left: 20px;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: white;
  }
}

.searchInput {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 20px;
  input {
    border: 3px solid rgb(135, 145, 163);
    padding: 40px;
    font-size: xx-large;
    height: 20%;
    width: 40%;
    margin-right: 5px;
  }
}

.dropDownSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSearchButton {
  background-color: rgb(135, 145, 163);
  color: white;
  width: 15%;
  height: 123px;
  font-size: xx-large;
  cursor: pointer;
  padding: 15px;
  &:hover {
    background-color: green;
  }
}

.searchIcon {
  width: 100%;
  height: 100%;

  color: black;
  cursor: pointer;
}

.hamburger {
  display: none;
}

////////////////////////////////////////////////////////

@media only screen and (max-width: 1200px) {
  .headerStyles {
    img {
      display: none;
    }
    justify-content: center;
    padding: 15px 0px;
  }

  .dropDownMain {
    top: 75px;
  }
  .searchInput {
    top: 85px;
  }
}

@media only screen and (max-width: 960px) {
  .headerStyles {
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    img {
      display: block;
      height: 130px;
      width: auto;
    }
  }

  .navbar {
    gap: 0;
    align-items: center;
  }

  .navbarMenus {
    gap: 0;
  }

  .dropDownMain {
    top: 210px;
  }

  .searchInput {
    top: 210px;
    input {
      padding: 15px;
      width: 60%;
    }
  }

  .homeSearchButton {
    width: 25%;
    height: fit-content;
    padding: 17px;
  }

  .magnifyingGlass {
    position: absolute;
    width: auto;
    height: 40px;
    padding: 4px;
    top: 20px;
    right: 30px;
  }
}

@media only screen and (max-width: 760px) {
  .headerStyles {
    align-items: start;
    padding: 12px 20px;
    img {
      display: block;
      height: 60px;
      width: auto;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    height: 36px;
    width: 35px;
    top: 18px;
    right: 20px;
  }

  .navbar {
    gap: 0;
    align-items: center;
  }

  .navbarMenus {
    display: none;
    gap: 0;
  }

  .dropDownMain {
    top: 210px;
  }

  .searchInput {
    top: 120px;

    input {
      padding: 15px;
      width: 60%;
    }
  }

  .homeSearchButton {
    width: 25%;
    height: fit-content;
    padding: 17px;
  }

  .magnifyingGlass {
    position: absolute;
    width: auto;
    height: 30px;
    padding: 4px;
    top: 20px;
    right: 80px;
  }
}

@keyframes navLoad {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navScale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
