@import "./abstracts/variables";

.subheaderContainer {
  position: fixed;
  z-index: 40;
  top: 0;
  background-color: rgb(41, 40, 42, 0.9);
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
  color: white;
}
.sideNavContainer {
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.sideNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 15px 2rem 0 2rem;
  gap: 0.25rem;
  text-transform: capitalize;
  animation: navScale 300ms ease-in;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.sideNavElement {
  padding: 0.5rem 1.5rem;
  position: relative;
}

.subheader {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 15px 2rem 0 2rem;
  text-transform: capitalize;
  animation: navScale 300ms ease-in;
  transform: scale(2);
  animation-fill-mode: forwards;
}
.activeSubsection {
  margin-bottom: 0.2rem;
  border-bottom: white 5px solid;
  font-weight: 900;
  color: white;
}
.rslink {
  padding: 0 3.2rem 1.6rem 3.2rem;
  cursor: pointer;
  font-size: 1.8rem;
}
.rslinkSideNav {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  font-weight: 600;
}
.activeSideNavSubsection {
  color: $orange;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $orange;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca0011;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.topNav {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
  // background-image: linear-gradient(
  //   to bottom right,
  //   rgb(104, 91, 199),
  //   rgb(72, 63, 138)
  // );
  // color: white;

  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-primary-dark
  );
  color: white;
}

.centerNav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: left;
  background-color: white;
  // background-color: #D5CABD;
  margin: 0;
}

.centerNav h2 {
  font-size: 4rem;
}
//costaatt logo on main page
.logo {
  padding: 0;
  // width: 15px;
  margin: 0;
  // float: left;
  padding-left: 0;
  //  padding-top: 7px;
}
.costaattwords {
  font-family: $default-font-family;
  font-weight: 900;
  line-height: 2;
  font-size: 1.25rem;
  color: black;
}

.bottomNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 65px;
  background-color: $grey;
  color: white;
  position: relative;
}
.bottomNav li {
  font-size: 1.92rem;
}

.navbarMenus {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.navBarLinks {
  width: 100%;
  padding: 9px 10px;
  text-decoration-color: $grey;
}
.navBarLinks {
  cursor: pointer;
}
.navBarLinks:hover {
  transition: all 0.8s ease;
  text-underline-position: under;
  text-decoration: underline solid $orange 4px !important;
  cursor: pointer;
}

.navBarLinks:hover .dropDownMain {
  display: block;
}
.topNavMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topNavMainActive {
  animation: slideInFromTop 0.8s ease forwards;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(5%);
    opacity: 1;
  }
}

.dropDownMain {
  left: 0;
  top: 85px;
  width: 100%;
  position: absolute;
  z-index: 40;
  transition: all 0.3s ease-in-out;
  animation: slideInFromTop 0.8s ease forwards;
}

.dropDown {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  background-color: $lightgrey1;
  box-shadow: inset 0px 14px 15px rgba(0, 0, 0, 0.3);
  padding: 30px 30px;
  font-size: 1.6rem;

  .dropDownLi {
    color: $grey;
    padding: 5px;
    align-content: center;
    width: 100%;
    height: fit-content;

    &:hover {
      transition: all 0.5s ease;
      text-decoration: underline solid $orange 4px;
      text-underline-position: under;
    }
  }
}

.dropDownPictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  color: $grey;
}

.dummyImage {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}

.dropDownLinksGrid {
  display: grid;
  gap: 0 40px;
  grid-template-columns: repeat(2, 1fr);
  text-underline-position: under;
  text-underline-offset: 0.3rem;
}

.searchButton {
  cursor: pointer;
  width: auto;
  height: 30px;
}

.searchButton:hover {
  color: blue;
}
.searchInput {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 20px;
  input {
    border: 3px solid rgb(135, 145, 163);
    padding: 40px;
    font-size: xx-large;
    height: 20%;
    width: 40%;
    margin-right: 5px;
  }
}

.dropDownSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSearchButton {
  background-color: rgb(135, 145, 163);
  color: white;
  width: 15%;
  height: 12.3rem;
  font-size: xx-large;
  cursor: pointer;
  padding: 0.15em;
  &:hover {
    background-color: green;
  }
}

.searchIcon {
  width: 100%;
  height: 100%;

  color: white;
  cursor: pointer;
}

.hamburger {
  display: none;
}

////////////////////////////////////////////////////////

@media only screen and (max-width: 1200px) {
  .headerStyles {
    img {
      display: none;
    }
    justify-content: center;
    padding: 15px 0px;
  }

  .dropDownMain {
    top: 75px;
  }
  .searchInput {
    top: 85px;
  }
}

@media only screen and (max-width: 960px) {
  .headerStyles {
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    img {
      display: block;
      height: 13rem;
      width: auto;
    }
  }

  .navbar {
    gap: 0;
    align-items: center;
  }

  .navbarMenus {
    gap: 0;
  }

  .dropDownMain {
    top: 21rem;
  }

  .searchInput {
    top: 21rem;
    input {
      padding: 15px;
      width: 60%;
    }
  }

  .homeSearchButton {
    width: 25%;
    height: fit-content;
    padding: 17px;
  }

  .magnifyingGlass {
    position: absolute;
    width: auto;
    height: 4rem;
    padding: 4px;
    margin-top: 2rem;
    top: 2rem;
    right: 3rem;
  }
}

@media only screen and (max-width: 760px) {
  .headerStyles {
    align-items: start;
    padding: 12px 20px;
    img {
      display: block;
      height: 60px;
      width: auto;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    height: 36px;
    width: 35px;
    top: 18px;
    right: 20px;
  }

  .navbar {
    gap: 0;
    align-items: center;
  }

  .navbarMenus {
    display: none;
    gap: 0;
  }

  .dropDownMain {
    top: 210px;
  }

  .searchInput {
    top: 120px;

    input {
      padding: 15px;
      width: 60%;
    }
  }

  .homeSearchButton {
    width: 25%;
    height: fit-content;
    padding: 17px;
  }

  .magnifyingGlass {
    position: absolute;
    width: auto;
    height: 30px;
    padding: 4px;
    top: 20px;
    right: 80px;
  }
}

@keyframes navLoad {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navScale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
