@import "./abstracts/variables";

.topNavContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-primary-dark
  );
  color: white;
}

.topNavMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topNavMainActive {
  animation: slideInFromTop 0.8s ease forwards;
}

.topNavMain ul {
  display: flex;
  gap: 20px;
}

.topBarLinks {
  position: relative;
  padding: 20px 5px;
}
.topBarLinksActive {
  background-color: yellow;
}

.topBarLinks:hover {
  transition: all 0.1s ease;
  //  border-radius: 15px;
  text-underline-position: under;

  text-decoration: underline solid $color-comp3 4px !important;
}

.topNavItems {
  font-size: 1.78rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    //   opacity: 0;
  }
  to {
    transform: translateY(0);
    //  opacity: 1;
  }
}

.topNavDropDownMain {
  box-shadow: inset 0px 14px 35px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 20px 10px;
  //animation: slideInFromTop 0.8s ease forwards;
}

.topNavdropDownMenu {
  position: relative;
  gap: 20px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  width: 100%;
  margin: 0;
  list-style: none;
}
.topNavdropDownSchoolLink {
  font-size: 2rem;
  cursor: pointer;

  font-weight: 900;
  text-transform: uppercase;
}

.topNavdropDownSchoolLink:hover {
  color: yellow;
}

.topNavdropDownSchoolMenu {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 15px;
}
.topNavdropDownDeptLink a {
  font-size: 1.5rem;
  padding: 10px;
  transition: all 0.9s;
  border-radius: 15px;
}

.topNavdropDownDeptLink a:hover {
  background-color: white;
  color: $color-primary;
}

.topNavdropDownDeptLink {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  list-style: none;
}

.dropDownLi {
  cursor: pointer;

  color: #0077b6; /* Change link color */
  text-align: center;
  font-weight: bold;
}
.dropDownPictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  color: #666; /* Change image caption color */
}

.dummyImage {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}
