@import './abstracts/variables';

.mainPageContainer {
  padding: 0 80px;
}

.mainTitle {
  font-size: 6rem;
  color: $brown;
}
.newsTop {
  display: flex;
}
.newsSlider {
  width: auto;
  height: 100%;
  border-right: 8px solid $brown;
}

.featuredNews {
  width: 30%;
}
.featuredNews h1 {
  padding: 0 20px;
  color: $orange2;
}
.featuredNewsLinks {
  border-bottom: 1px solid black;
  padding: 3px 20px;
  transition: 400ms;
  &:hover {
    background-color: $brown;
    color: white;
  }
}

.latestNews {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.latestNewsTitle {
  font-size: 4rem;
  padding: 20px 0;
  margin-top: 10px;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.newsGrid2 {
  position: relative;
  margin-bottom: 15px;
  justify-content: center;
  padding: 10px;

  h1 {
    font-size: large;
    font-weight: bolder;
  }

  &:hover {
    img {
      opacity: 90%;
      object-fit: cover;
      border: 5px solid white;
    }
  }

  img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
  }
}

//  .newsDate {
//     background-color: white;
//     padding: 5px;
//     position: absolute;
//     top: 10px;
//     left: 10px;
//   }
