@import "./variable";

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  z-index: 50;
  background-color: $purple-main;
  background-image: linear-gradient(to right, $purple-main,$orange2);
  // //   /* For older browsers */
  // background-image: -webkit-linear-gradient(left, #b5179e, #3a0ca3);
  // background-image: -moz-linear-gradient(left, #b5179e, #3a0ca3);
  // background-image: -o-linear-gradient(left, #b5179e, #3a0ca3);

  //   transition: width 0.4s ease;
}
.progressBarDown {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  z-index: 50;
  background-color: $purple-main;
  background-image: linear-gradient(to bottom, $purple-secondary, $orange2);
  //   /* For older browsers */
  background-image: -webkit-linear-gradient(bottom, #b5179e, #3a0ca3);
  background-image: -moz-linear-gradient(bottom, #b5179e, #3a0ca3);
  background-image: -o-linear-gradient(bottom, #b5179e, #3a0ca3);

  //   transition: width 0.4s ease;
}
