.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  z-index: 50;
  background-color: #4b0082;
  background-image: linear-gradient(to right, #b5179e, #3a0ca3);
  //   /* For older browsers */
  background-image: -webkit-linear-gradient(left, #b5179e, #3a0ca3);
  background-image: -moz-linear-gradient(left, #b5179e, #3a0ca3);
  background-image: -o-linear-gradient(left, #b5179e, #3a0ca3);

  //   transition: width 0.4s ease;
}
.progressBarDown {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  z-index: 50;
  background-color: #4b0082;
  background-image: linear-gradient(to bottom, #b5179e, #3a0ca3);
  //   /* For older browsers */
  background-image: -webkit-linear-gradient(bottom, #b5179e, #3a0ca3);
  background-image: -moz-linear-gradient(bottom, #b5179e, #3a0ca3);
  background-image: -o-linear-gradient(bottom, #b5179e, #3a0ca3);

  //   transition: width 0.4s ease;
}
