@import './variable';

.logo {
  width: 150px;
  height: 100px;
}

.urllayoutnoheader {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #222222;
  padding: 8rem 8rem 0 5rem;

  // margin-top:5rem;
  // margin-bottom:0;
}
.urllayoutheader {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.sectionoverview {
  color: #161716;
  // box-sizing: inherit;
  padding: 5rem 10rem 8rem 10rem;
  margin:0 ;
}

.headingprimary {
  font-family: 'Bodoni';
  font-size: 2rem;
  font-weight: 700;

  text-align: center;
  margin-bottom: 1.5rem;
}

.headingprimaryleft {
  font-family: 'Bodoni';
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.5rem;
}

.headingprimarysub {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #222222;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
}

.headingprimarysubleft {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: $brown;

  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: inherit;
}
.text {
  /* margin-bottom: 1.5rem ; */
  font-size: 1.2rem;
  color: #222222;
  line-height: 1.75;
  text-align: justify;
}

.pageheader {
  margin-bottom: 0;
  overflow: hidden;
  max-width: 100vw;
}
.pageheaderimg {
  height: 75vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}

.pageheadertext {
  position: absolute;
  top: 60%;
  left: 10%;
  color: $brown;
  // z-index: 9000;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-family: 'Roboto', serif;
  text-transform: capitalize;
}

/*Utility classes */

.umargintopsmall {
  margin-top: 1.5rem;
}

.umarginbottomsmall {
  margin-bottom: 1.5rem !important;
}

/*Main menu for top of pages*/
.navtop {
  padding: 0 5rem 0 5rem;
  font-size: 1.25rem;
  margin-right: 2rem;
  margin-top: 4rem;
}

.navtopul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
}
.navtopli {
  float: left;
}

.navtoplink {
  display: inline-block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.75rem;
  text-decoration: none;
}
.navtoplink :hover {
  text-decoration: underline;
  text-decoration-color: $brown;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.navtopcontent {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*Why choose us Academics */
.sectionwhychoose {
  // background-color: white;
  // color: #222831;

  padding: 5rem 10rem 10rem 10rem;
}
.whychooseimg {
  margin-bottom: 1.5rem;
}
.whychoosetext {
  font-size: 1.5rem;
  color: $brown;
}

/*Academics by the numbers */
.sectionbythenumbers {
  background-color: black;
  color: aliceblue;
  padding: 5rem 10rem 10rem 10rem;
  font-family: 'Lato', 'sans serif';
}
.bythenumbers {
  font-size: 6rem;
  transition: all 0.2s;
  padding: 2rem;
  font-family: 'Lato', 'sans serif';
}
.bythenumbers:hover {
  transform: scaleX(1.4) scaleY(1.6);
  padding: 2rem;
}
.bythenumbersheading {
  font-weight: 900;
}

.bythenumberstext {
  font-size: 1.2rem;
  text-transform: capitalize;

  margin-bottom: 1rem;
  padding: 2rem;
}

.explore {
  color: $brown;
  font-size: 1.2rem;
  float: right;
}
.highlight {
  color: $brown;
  font-size: 1.45rem;
}
.urllayout {
  font-size: 0.8rem;
  margin-bottom: 5rem;

  margin: 0 8rem;
  text-align: justify;
}

/* Grid layout 4 columns */
.progGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
}
.progGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

  // padding: 10px;
}
/*Areas of Study */
.sectionareasofstudy {
  background-color: black;

  color: whitesmoke;
  /* margin-top:-10 rem; */
  padding: 2rem;
  margin: 0;
}
.areasofstudyul {
  list-style-type: none;
  margin: 0;
  font-family: 'Lato', sans-serif;
  // padding-left: 10rem;
  padding-bottom: 1rem;
  overflow: hidden;
  font-size: 1.1rem;
  text-align: left;
}

.areasofstudyli {
  text-decoration: none;
  color: $brown;
  padding-bottom: 0.5rem;
}

.areasofstudyli:hover {
  text-decoration: underline;
  color: $base-color;
  padding-bottom: 0.5rem;
}
/*6  columns */
.areasofSGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto auto auto;
  align-content: space-between;
}
.areasofSGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  // padding: 10px;\
}
.areasofSGrid:first-child {
  padding-left: 2rem;
}
.areasofSGrid:last-child {
  padding-right: 2rem;
}

/*Highlight Areas */
.sectionhighlights {
  /* margin-top:-10 rem; */
  padding: 5rem 10rem 8rem 10rem;
}

/*3 columns change name*/
.threeColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
}
.threeColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}

.highlightheading {
  font-weight: 900;
}

.highlighttext {
  font-size: 1.2rem;
  text-transform: capitalize;

  margin-bottom: 1rem;
  padding: 2rem;
}

/* Degrees listing*/
/* Search for degrees, etc */
.sectionacademicssearch {
  color: #222831;
  padding: 5rem 5rem 0 5rem;
  font-family: 'Lato', 'sans serif';
}

.formacademics {
  // margin-left: 10rem;

  background-color: white;

  /* width:20rem; */
}
/* Style the search field */
form.degreesearch input[type='text'] {
  width: 50rem;
  height: 4rem;

  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 1px solid grey;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

/* Style the submit button */
form.degreesearch button {
  float: left;
  width: 10%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background: $brown;
  color: white;
  font-size: 1.5rem;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.degreesearch button:hover {
  background: $base-color;
}
form.degreesearch ::placeholder {
  font-size: 1.2rem;
}
/* Clear floats */
form.degreesearch::after {
  content: '';
  clear: both;
  display: table;
}

/* Style the search field */
form.degreesearch input[type='text'] {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

/* Grid layout 2 for prog serachcolumns */
.progGridContwo {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto;
  margin: 0 auto;
}
.progGridtwo {
  text-align: center;
  padding: 1.5rem 0 0 0;
  font-size: 30px;
  margin: 1.5rem 0 0 0;

  // padding: 10px;
}

.progCon {
  text-align: left;
  margin: 20px 0;
}

/* Program listing */
.sectiondegreeslisting {
  background-color: white;
  color: $font-colormain;
  padding: 5rem 0 0 10rem;
  margin: 0 auto;
}
.degreelist {
  color: $font-colormain;
  font-size: 1rem;
  text-decoration: underline;
  padding-bottom: 2rem;
  /* margin-left:0; */
  display: block;
  text-align: left;
}

.underline {
  font-weight: bolder;
}

//School section
/*Highlight Areas */
.sectionapply {
  /* margin-top:-10 rem; */
  padding: 5rem 10rem 8rem 10rem;
}
/*3 columns change name*/
.threeColGridCon {
  display: grid;
  gap: 8rem;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
}
.threeColGrid {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  // padding: 10px;
}

.applyheading {
  font-weight: 900;
  padding: 2rem;
}

.applytext {
  font-size: 1.25rem;
  text-transform: capitalize;

  margin: 1rem;
}
.applyimages {
  width: 300px;
  height: 200px;
  // border-radius:2rem;
}
.goto {
  color: $orange2;
  font-size: 1.5rem;
  float: center;
}
.buttonstyle {
  float: left;
  width: 10%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background: $base-color-tint;
  color: white;
  font-size: 1.25rem;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

/*section depart in SCHOOL PAGE */
.sectiondepart {
  margin: 2rem 0;
}

/* section department courses IN SCHOOL PAGE */
.sectiondeptcourses {
  margin: 2rem 0;
  background-color: black;
  min-height: 25rem;
  padding-top: 2rem;
  color: white;

  .headingprimary {
    margin-top: 2rem;
  }
}
.courseaccordion {
  text-align: center;
  background-image: linear-gradient(to right, $purple-main, $orange2);
  // //   /* For older browsers */
  background-image: -webkit-linear-gradient(right, $purple-main, $orange2);
  background-image: -moz-linear-gradient(right, $purple-main, $orange2);
  background-image: -o-linear-gradient(right, $purple-main, $orange2);
}
.courseaccordion:first-child {
  margin-left: 2rem;
}
.courseaccordion:last-child {
  margin-right: 2rem;
}
.acoordiantext {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}
.arrow {
  color: white;
}

.degcourses {
  color: white;
  padding: 1rem 0 2rem 0;

  font-size: 1.25rem;
  font-weight: bold;
  list-style: none;
  text-align: left;
}
.degreecategory {
  font-size: 0.75rem;
  padding-left: 1rem;
}
.degcoursesli {
  padding: 0.3rem 1rem;
  color: white;

  :hover {
    text-decoration: underline;
    color: $orange;
    transform: scale3d(1);
  }
}

.newsimg {
  width: 20%;
  height: 20%;
}

.sectionschoolnews {
  margin: 5rem;
  .goto {
    text-align: center;
    color: $orange;
    padding: 2rem;
    font-weight: 800;
    font-size: 1.25rem;

    .newsCardimg {
      margin: 2rem;
    }
  }
}
