@import "./abstracts/variables";

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  // background-color: $orange2;
  background-image: linear-gradient(to right, $color-primary ,$color-primary-dark);
  // //   /* For older browsers */
  background-image: -webkit-linear-gradient(right, $purple-main, $orange2);
  background-image: -moz-linear-gradient(right, $purple-main, $orange2);
  background-image: -o-linear-gradient(right, $purple-main, $orange2);

  transition: width 0.4s ease;
}
.progressBarDown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $color-primary;
  // // background-image: linear-gradient(to bottom, $purple-secondary, $orange2);
  // //   /* For older browsers */
  // background-image: -webkit-linear-gradient(bottom,$purple-secondary, $orange2);
  // background-image: -moz-linear-gradient(bottom, $purple-secondary, $orange2);
  // background-image: -o-linear-gradient(bottom, $purple-secondary, $orange2);

  transition: width 0.4s ease;
}
