@import "./variable";

.search {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 1200; /* Specify a stack order in case you're using a different order for other elements */
  padding: 50px;
}

.search div {
  color: yellow;
}

.search input {
  display: flex;
  margin: auto;
  width: 50%;
}

// .searchBar {
//   // border: 3px rgb(109, 128, 167) solid;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 2rem;
//   border-radius: 5px;
//   padding: 0 15px;
//   box-shadow: 0 0 4px white;
//   margin-left: 20px;
//   transition: 0.5s ease-in-out;
//   &:hover {
//     background-color: white;
//   }
//   input {
//     border: none;
//     position: absolute;
//     text-align: center;
//     font-size: 3rem;
//     top: 100px;
//     left: 0;
//     width: 100%;
//     height: 20%;
//     &:focus {
//       outline: none;
//       width: 100%;
//       background-color: white;
//     }
//   }
// }

// .searchIcon {
//   width: 100%;
//   height: 100%;
//   color: black;
//   cursor: pointer;
// }

// @media only screen and (max-width: 1200px) {
//   .searchBar {
//     // border: 3px rgb(109, 128, 167) solid;
//     align-items: left;
//     justify-content: left;
//     transition: 0.5s ease-in-out;
//     &:hover {
//       background-color: white;
//     }
//     input {
//       top: 72px;
//       z-index: 10;
//     }
//   }
// }
