@use "./abstracts/variables" as v;

.cardCont {
  color: #060607;
  font-size: 1.25rem;
  border-radius: 75%;
  text-align: center;

  .photo {
    width: 15rem;
    height: 15rem;
  }
  .name {
    // font-size: 1.5rem;
    color: v.$color-primary-dark;
    margin: 1.25rem 0;
    font-weight: 700;
  }
  .position {
    // color: v.$color-primary-dark;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .email {
    color: v.$color-primary-dark;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .tel {
    margin: 0;
  }
}
