@use "../../styles/abstracts/variables" as v;

// Adjust the color to match the design

.testimonialContainer {
  margin-left: 8rem;

  height: 70vh;

  display: grid;
  // background-color: v.$color-grey-light-1;

  // grid-template-columns: minmax(60%, 1fr) 30% minmax(20%, 1fr);
  grid-template-columns: minmax(60%, 1fr) 40%;
}

.testimonialContent {
  grid-column: 1/2;
  padding: 2rem;
   height: fit-content;
    margin-right:10rem;

  .header {
    font-size: 3rem;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  .subHeader {
    font-size: 2.2rem;
    margin-bottom: 1em;
    text-align: left;
  }

  .quote {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .quoteSymbol {
    font-size: 8rem;
    color: v.$color-primary-dark;
    text-align: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .cite {
    font-size: 1.5em;
    font-weight: bold;
    color: v.$color-primary;
    padding: 3em;
  }

  .readMore {
    background-color: v.$color-primary;
    display: block;
    margin: 4rem 5rem;
    text-align: right;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.testimonialImage {
  grid-column: 2/3; // in 2 column of testimonialContainer

  position: relative;
  display: grid; // to align the image and the list items.

  background-color: v.$color-primary-dark;
  grid-template-columns: repeat(2, 1fr);
  // gap: 20px;

  .imgDetails {
    // width: fit-content;

    position: absolute;
  top: 10%;
  left: -40%;
  width: 100%;
  z-index: 1; /* Ensure image appears above the columns */
  }

  .testimonialList {

    // position: relative; /* Ensure z-index works */
  z-index: 0; /* Ensure the columns are below the image */
    position: absolute;
    top: 0;
    right: 0;
    background-color: v.$color-primary-dark;
    width: 30rem;
    padding: 20px;
    list-style: none;

    li {
      //  width: fit-content;

      margin-bottom: 1rem;
      color: white;
      padding: 1.5rem 0.5rem 1.5rem 1.5rem;
      border-radius: 0 50%;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: v.$color-primary;
        color: v.$color-white;
        border-radius: 100px;
      }

      .imgSmall {
        width: 20%;
        height: 25%;
        border-radius: 50%;

        margin-right: 2rem;
      }
    }

    p {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
  }
}
