@import '../abstracts/variables';

// body {
//     font-family: "Lato", sans-serif;
//     font-weight: 400;
//     /*font-size: 16px;*/
//     line-height: 1.7;
//     color: $color-grey-dark;
// }



.sectiontext {
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 500;
  text-align: center;
  margin: 2em;
  text-transform:capitalize;
  font-weight: 900;
}

.sectiontextleft {
  font-size: 2.5rem;
  font-family: "Bodoni";
  font-weight: 700;
  text-align: left;
  margin: 2em 0;
    text-transform:capitalize;

}



.headingPrimary {
    font-weight: 600;
    color: $orange;
    text-transform: capitalize;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &main {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
                margin-bottom:3rem;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        // letter-spacing: 1.25rem;
        animation: moveInRight 1s ease-out;
        margin-bottom:3rem;

        @include respond(phone) {
            letter-spacing: .5rem;
            margin-bottom:1rem;

        }
    }
}

.headingSecondary {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $orange, $red);
   background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    // transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.headingTertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: capitalize;
            margin-bottom:3rem;

}
.headingcards {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
            margin-bottom:1rem;

}


.paragraph {
    font-size: $default-font-size;
    line-height: 2;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.footnote{
    font-size: 1.1rem;
    font-style: italic;
    margin:1rem 0;
}
.footnote2{
    font-size: 1.25rem;
    font-style: italic;
    margin:1rem 0;
    font-weight: bold;
}

//Links to the top of the pages
.toplinksnav {
  display: flex;
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
  padding:  1em ;
}
