.centertext { text-align: center !important; }
.leftalign { text-align: left !important;}

.boldtext{
  font-weight: bold;
}

.whitefont{color:white;}
.centerbutton { margin: auto;}

.paddingTopBig { padding-top: 5rem !important; }
.paddingBottomBig { padding-bottom: 5rem !important; }

.marginBottomSmall { margin-bottom: 1.5rem !important; }
.marginBottomMedium {
    margin-bottom: 4rem !important;

    @media only screen and (max-width: 56.25em){
        margin-bottom: 3rem !important;
    }
}

.marginBottomBig { 
    margin-bottom: 8rem !important;

   @media only screen and (max-width: 56.25em) {
        margin-bottom: 5rem !important;
    }
}

.marginTopSmall { margin-top: 5rem !important; }
.marginTopBig { margin-top: 8rem !important; }
.marginTopHuge { margin-top: 10rem !important; }

